[2019-11-16 21:18] devnulling opened #3 "[BUG] test_wiener unit test fails"
**Describe the bug**
Wiener test fails

**Steps/Code to reproduce bug**
run `pytest -v`

**Expected behavior**
no failures with unit tests

**Environment details (please complete the following information):**
- ubuntu 18.04
- conda install
- py 3.7

**Additional context**
$ pytest -v
=========================================================== test session starts ===================================

[2019-11-17 00:54] awthomp commented on #3
Thanks for filing an issue, @devnulling!

Like with SciPy Signal, cuSignal's convolve method chooses either an FFT or Direct version of convolution. For shorter duration/length signals, it's actually slower to do the FFT based method with standard NumPy.

This would be a good PR with a couple options:
1. Remove the direct/fft method check and just default to the FFT approach
2. Change the direct m

[2019-11-18 00:24] #3 closed

[2019-12-25 00:50] luigifreitas opened #7 "[FEA] Implementation of lfilter."
The `lfilter` function would be really useful for demodulation. For example, FM demodulation (de-emphasis and stereo).

Scipy Signal:
https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.lfilter.html#scipy.signal.lfilter

[2019-12-26 22:00] awthomp commented on #7
I concur with this feature request, and it's a high value item for the next version of cuSignal. @mnicely took an initial look at lfilter and can sum up some of his findings in the next few weeks.

That said, @luigifreitas -- could you provide a few examples in Scipy Signal that you'd like to use in cuSignal? Will you be using any initial conditions? 2D or just 1D? Etc.

[2019-12-27 15:19] mnicely commented on #7
My initial attempt to the lfilter used in SciPy Signal to the GPU was unsuccessful due to data dependencies. I've attached my attempt at simplifying the math. I can give it another look at the beginning of the year.

A possible next approach might be to find an alternate filter that implemented in parallel, but the answers might vary slightly.

[lfilter.pdf](https://github.com/rapidsai/cusignal/fi

[2019-12-27 17:11] awthomp commented on #7
@mnicely -- let's get a test case from @luigifreitas and work backwards. We can potentially get other folks to look at it as well. I haven't looked at the lfilter source in a bit, but I remember there being a significant number of options/algorithmic routes that we may be able to simplify/ignore in the short term. If we get a toy example working, maybe we can go from there? Either way, we'll revis

[2019-12-29 07:05] vielmetti opened #8 "[DOC] Install information for Jetson Nano"
I think it might be possible to get this code running on the Jetson Nano, but I'm not able to at the moment.

The `conda` version for the Nano that I'm trying is Archiconda, https://github.com/Archiconda .

The Nano has Maxwell cores, which should be enough for this. But I don't think all the necessary dependencies have been put together in Archiconda, and I'm not exactly sure where to start. I ge

[2019-12-29 14:51] awthomp commented on #8
Welcome, @vielmetti and thanks for submitting an issue! cuSignal has been tested on a Jetson Nano and does indeed work.

There are a few core dependencies for cuSignal.
* Numba
* NumPy
* SciPy
* cudatoolkit
* CuPy

If you look at the [cusignal_conda_env.yml](https://github.com/rapidsai/cusignal/blob/master/cusignal_conda_env.yml) file, there are others listed. I'm going to mark this issue as "good

[2019-12-29 18:45] luigifreitas commented on #7
I've created a [Gist](https://gist.github.com/luigifreitas/fe412f2640b79c9c6f9de8e52a9caa61) with a working notebook with all functions necessary to demodulate Stereo WBFM. As requested, this example is using Numpy and SciPy Signal components. The Pilot clock recovery is using my custom PLL based on Numpy. The implementation is working well but I'm still working on it. In short, this will require

[2019-12-29 19:57] awthomp commented on #7
Thanks, @luigifreitas!

The Hilbert transform is included in cuSignal. You can find it [here](https://github.com/rapidsai/cusignal/blob/d2b8ddf157c1659be78e073534883031ffff2423/cusignal/signaltools.py#L1052)

I'll look at the Butterworth filter design and continue development on the linear filter. Cheers!

[2019-12-29 20:04] awthomp commented on #7
Also, @luigifreitas - do you need initial conditions for lfilter? Or can we start with Zi=None?

[2019-12-29 20:10] luigifreitas commented on #7
I don't think we are going to need initial conditions for a narrow band signal like WBFM. Cheers!

[2019-12-30 21:46] vielmetti commented on #8
Thanks for the update! Here's how far I got.

1. conda4aarch64 install OK.
2. numba install OK.
3. numpy, scipy, pip install OK.

However, when I get to installing `cudatoolkit` via conda, I hit a snag: none of the available channels have a `cudatoolkit` for aarch64.

https://anaconda.org/search?q=cudatoolkit

[2019-12-30 22:04] awthomp commented on #8
@vielmetti Since you're running JetPack on the Nano, CUDA is already installed. You can find the version via:

`nvcc --version` or `cat /usr/local/cuda/version.txt`

I'd proceed like you installed the CUDA toolkit (the Conda version, as far as I know, just makes the libs local to your conda environment). You should be good to `pip install cupy-cudaXXX`, based on the version of CUDA you have.

More

[2019-12-30 22:38] vielmetti commented on #8
Terrific! More progress.

I ended up installing `CuPy` from source, based on the instructions on the install you provided; `pip` didn't find a version, but the compile was fast enough.

I also installed `pytest` with `conda install pytest`, because otherwise you get the system version.

The whole `pytest` runs on this system:

123 passed, 57 warnings in 467.25s (0:07:47).  However it's not a compl

[2019-12-31 02:20] vielmetti commented on #8
in this

https://github.com/rapidsai/cusignal/blob/master/notebooks/sdr_wfm_demod.ipynb

there's also a `SoapySDR` module -- perhaps @luigifreitas has some recommendations for installing that module inside conda, (cross reference to https://github.com/pothosware/SoapySDR/issues/251 )

[2019-12-31 03:18] vielmetti commented on #8
and while I'm documenting things and they are all here in the same place --

At least a few of the examples look like they will have to be rewritten to run correctly on the Jetson Nano, not because the compute elements are wrong, but  because they run out of memory or perhaps some other resource on the (relatively memory constrained) Jetson Nano.

One error e.g. is `MemoryError: std::bad_alloc` wh

[2019-12-31 16:21] awthomp commented on #8
I appreciate you working through getting cuSignal up and running on the Nano, @vielmetti. These are all great suggestions for documentation improvement in the future! Happy New Year!

[2020-01-02 22:59] taureandyernv commented on #8
@awthomp and @vielmetti this would be a really cool "how-to" guide and blog!

[2020-01-05 03:23] luigifreitas commented on #8
@vielmetti Sure! I'll look into a Conda based SoapySDR as soon as I get my Jetson Nano.

[2020-01-05 03:27] luigifreitas commented on #7
On second thought, the linear filter initial conditions are kinda nice to have. Not a direct requirement but should improve filtering.

[2020-01-05 03:40] luigifreitas commented on #7
I found a [blog post](https://raphlinus.github.io/audio/2019/02/14/parallel-iir.html) written by @raphlinus regarding parallel evaluation of IIR filters. He suggests using a matrix approach instead of the serial direct form like Transposed DF-II used by Scipy's `lfilter`. I don't see small deviations being a problem.

[2020-01-06 03:21] vielmetti commented on #8
@taureandyernv agreed this would be a good writeup! I'd like to push through all the way to an application note for software-defined radio using cuSignal on the Nano, since I'm super curious about just what kind of results are possible with @luigifreitas code.

[2020-01-09 03:58] evanmayer commented on #8
To add another data point here, I also ran into memory issues running the examples with the default values on a GTX 960. They went away with reduced array sizes, but I wasn't able to root cause exactly which size was the limit and why.

[2020-01-10 15:52] awthomp commented on #8
Fixed in https://github.com/rapidsai/cusignal/pull/9

[2020-01-10 15:52] #8 closed

[2020-01-11 20:27] vielmetti commented on #8
Thanks for the docs update.

I did a brief writeup here

https://vielmetti.typepad.com/w8emv/2020/01/work-in-progress-cusignal-for-accelerated-signals-processing.html

trying to pack all of the relevant pieces why someone might be interested into a few words, and referring back to the docs and release here, the `conda4aarch64` install instructions, and @luigifreitas demos to date and future plans.

[2020-01-14 16:35] seunghwak opened #10 "[FEA] cuSignal restructuring to match other RAPIDS projects"
I have listed tasks to match cuSignal's structure to other RAPIDS projects (e.g. cuDF, cuGraph, cuML, and cuSpatial). We may not need to work on all these tasks right now, and I created this document to collect feedback.

- [ ] Create the /python directory: RAPIDS projects have the /python & /cpp directories. We can create the /python directory now to follow this structure or leave this as future

[2020-01-16 15:00] awthomp commented on #10
I think this all sounds good, @seunghwak. I'd like to add:

- [ ] Generate documentation to link to the RAPIDS docs

Additionally, my preference would be for keeping the notebooks in this directory. I'm happy to have more "end-to-end" or application specific ones in the RAPIDS notebooks repo, but I'd want to ensure that folks who stumble on cuSignal have a quick on-ramp to the library in as few cl

[2020-01-17 01:43] seunghwak opened #12 "[FEA] Update cuSignal documentation"
PR #11 created a template for cuSignal documentation. Based on this we need to properly update documentation including

- grouping functions and setting document structure (we can refer to https://docs.scipy.org/doc/scipy/reference/signal.html)
- fix warnings when we build documents
- review the generated documents for any additional formatting errors

[2020-01-17 01:52] seunghwak opened #13 "[FEA] Conda environment"
Other RAPIDS projects maintain separate conda environment files for different CUDA versions. cuSignal currently only specifies a range for cudatoolkit (>=9.2, <10.2).

And other RAPIDS projects do not include a separate file for Jetson (Are we going to officially support Jetson for cuSignal?).

We should decide whether to
- maintain separate conda environment files for different CUDA versions
- ma

[2020-01-17 13:49] awthomp commented on #13
Since cuSignal currently heavily relies on CuPy, are you aware of any specific CUDA features in newer releases that are explicitly used? In other words, if we're on CuPy 7.0.0, we should enforce whatever CUDA version they rely on.

As for the Jetson Conda environment, many users of cuSignal are in the Software Defined Radio community where there's an interest in embedded platforms. I'd like to kee

[2020-01-17 14:00] awthomp opened #14 "[FEA] Examine CuPy Pre-Release 8.0.0 FFT Enhancements and Profile Manual FFT Plan Creation"
There are currently two different CuPy functions to perform an FFT which tend to be used interchangeably in cuSignal.
1. `cupy.fft.fft`: [docs](https://docs-cupy.chainer.org/en/stable/reference/generated/cupy.fft.fft.html#cupy.fft.fft)
2. `cupyx.scipy.fftpack.fft`: [docs](https://docs-cupy.chainer.org/en/stable/reference/generated/cupyx.scipy.fftpack.fft.html)

We need to
- [ ] Better understand t

[2020-01-17 14:01] awthomp opened #15 "[FEA] Create Logo for cuSignal"
Do you love signal processing, GPUs, and graphic design? We'd love to see your ideas!

[2020-01-17 21:08] seunghwak commented on #13
Nope, and I think this is not a big issue at this moment, but may become more relevant as we further integrate cuSignal with other RAPIDS projects.

And same here, if cuSignal gets more and more dependent on other RAPIDS projects, support for embedded systems or Windows systems may become more difficult unless other RAPIDS projects cuSignal relies on also support embedded platforms or Windows syst

[2020-01-23 01:42] awthomp opened #16 "[FEA] Analyze performance of writing custom CUDA kernels via CuPy RawKernel versus Numba.CUDA"
CuPy's RawKernel module allows a CUDA kernel to be defined directly via source within CuPy. Currently, cuSignal leverages CUDA JIT functions within Numba for `upfirdn`, `convolve2d`, `correlate2d`, and `lombscargle`. We should analyze the performance difference and programmability/maintainability of these two options.

### Supporting Documentation
[cupy.RawKernel documentation](https://docs-cupy.c

[2020-01-24 20:18] awthomp commented on #10
Closed with https://github.com/rapidsai/cusignal/pull/11

[2020-01-24 20:18] #10 closed

[2020-01-28 20:57] awthomp commented on #7
We are currently working on GPU accelerating the DF-II structure used in `lfilter`. As @mnicely pointed out, there's a lot of data dependence that may be difficult to accelerate, but I'd like to see the perf characterization of the standard approach before moving onto more 'researchy' techniques that may deviate from 'standard results'

I've completed a first pass as the raw Python code here: http

[2020-02-03 17:31] luigifreitas commented on #7
Sounds great, @awthomp! I wrote a [notebook](https://github.com/rapidsai/cusignal/files/4149176/lfilter.zip) using the lfilter with synthetic data.

[2020-02-27 18:25] BradReesWork commented on #13
cuSignal is slightly different than the other main RAPIDS efforts since currently purely Python.  As we expand cuSignal and if needed, add some low-level C/CUDA code, then am environment file per CUDA will be needed.  currently it is unnecessary

[2020-03-06 14:54] awthomp opened #23 "[FEA] Addition of Real and Complex Cepstrum for Speech/Acoustic Signal Processing"
The Cepstrum is defined here: https://en.wikipedia.org/wiki/Cepstrum

And MATLAB/Octave have implementations of both the real/complex cepstrum documented here:
* rceps - https://www.mathworks.com/help/signal/ref/rceps.html
* cceps - https://www.mathworks.com/help/signal/ref/cceps.html

[2020-03-06 14:56] beckernick commented on #23
I'm not a SME, but would the following be useful as test cases from Python?

https://python-acoustics.github.io/python-acoustics/cepstrum.html?highlight=cepstrum#acoustics.cepstrum.real_cepstrum
https://python-acoustics.github.io/python-acoustics/cepstrum.html?highlight=cepstrum#acoustics.cepstrum.complex_cepstrum

[2020-03-10 00:09] #23 closed

[2020-03-10 22:13] #16 closed

[2020-03-11 13:29] awthomp commented on #7
@mnicely and I have been actively working GPU acceleration of the DFII filter over the past few weeks. Unfortunately, there's a data dependency that makes the fundamental algorithm difficult to implement on GPU, specifically:

[code]

In this instance, the previous value of y[n], i.e. y[n-k] needs to be updated and accessible to the current 'batch of threads' doing the process. Since this can't be

[2020-03-11 13:32] awthomp commented on #13
Closing issue

[2020-03-11 13:32] #13 closed

[2020-03-25 13:24] #12 closed

[2020-04-04 20:44] G4GUO commented on #8
I know this issue has been closed bu I have been trying to install it on a Xavier. I get as far as running pytest and it takes 285.26 secs to run.

I am now trying to run the E2E_Example. I had to downgrade numba==0.48.0 to get the first part to work. Now I have hit a problem with importing torch. This is due to there being no cudatoolkit package. I tried following the NVIDIA instructions
https://

[2020-04-05 00:53] awthomp commented on #8
Hey @G4GUO -- Have you followed the manual build instructions on the link you sent? The default conda Python environment is 3.7, so maybe specifying Python 3.6 will fix the issue?

Also see: https://elinux.org/Jetson_Zoo#PyTorch_.28Caffe2.29

[2020-04-05 09:08] G4GUO commented on #8
Creating a new environment with python 3.6 fixed it.
I still had to downgrade numba also I get a warning about CuPY
"CuPy backend is only implemented for ndim == 1"
there are  a few other deprecated interface warnings
"Implicit dimension choice for log_softmax has been deprecated. Change the call to include dim=X as an argument"
but it all runs now.
Even Xavier's fan comes on during training.

Nex

[2020-04-05 13:03] awthomp commented on #8
Yay! Happy it worked for you, @G4GUO. I'll open an issue to get improved install documentation on the Jetson Devices. Ideally, we can get a conda package included so you don't have to go from source. I also need to build out the SoapySDR documentation. I was originally looking at getting that package into a conda channel too, but that's very preliminary work.

As a heads up, check out cusignal's s

[2020-04-05 17:19] G4GUO commented on #8
My plan is to do windowing / FFT / log mag / reduction to 8 bits / write a sliding buffer on the GPU which can then be displayed or chopped up into say 255x255 images for training. I did a GPU based LDPC decoder a while ago so I know how critical CUDA memory accesses are. I am a total novice at Python programming though and AI/ML. I have read a book about ML, watched a few TF videos and played wit

[2020-04-05 18:23] awthomp commented on #8
@G4GUO -- Keep us updated on your work; we're happy to both help and expand the functionality of cuSignal. In the next few months, I hope to put up more examples for SDR applications and also the bridge to AI/ML techniques. The E2E notebook you mentioned needs a bit of updating but is hopefully a good place to start!

As for programming, we made the design decision in cusignal to avoid having a C+

[2020-04-05 18:35] luigifreitas commented on #8
@awthomp I would be happy to add an example using PyTorch with cuSignal! I'm using something similar on CyberRadio with my neural FM [demodulator](https://github.com/luigifreitas/CyberRadio/blob/CursedNet/src/main/python/cursednet.py) at this moment. I can port it to a Jupyter Notebook.

[2020-04-05 19:22] awthomp commented on #8
I'd love that, @luigifreitas !

[2020-04-06 22:51] boonedoggle opened #47 "[FEA] Support for decimate function with FIR Filter"
I would like the be able to use the `cusignal.decimate` function. I realize that IIR filters are difficult with GPUs but FIR filters should not have the same issue.

[2020-04-07 00:01] awthomp commented on #47
The FIR case of `scipy.signal.decimate` makes use of the following functions -- all of which are currently implemented in cusignal 0.13:
* firwin
* upfirdn
* resample_poly

SciPy's version: https://github.com/scipy/scipy/blob/v1.4.1/scipy/signal/signaltools.py#L4154-L4245

This seems like a very easy issue to address. As @boonedoggle mentioned, the IIR case involves `lfilter` and `filtfilt` which

[2020-04-07 00:02] awthomp commented on #7
Closing until we can identify alternatives the the data dependent DF-II algorithm.

[2020-04-08 15:05] #47 closed

[2020-04-08 18:41] dicta opened #52 "[FEA] Implement IIR filtering"
This issue is an attempt to unblock https://github.com/rapidsai/cusignal/issues/7 with regard to IIR digital filtering.

Problem: `scipy.signal` API implements types of filters that are suitable for CPU implementation, but contain data dependencies that prohibit GPU acceleration without changing the form of the filter implementation. Specifically, `scipy.signal.lfilter` uses a Direct Form II struc

[2020-04-08 19:28] dicta opened #54 "[BUG] Extremely slow import times on 0.14 branch"
Pre-compilation of specialized CUDA kernels currently occurs at module import time, which causes excessively long times to `import cusignal` (~10 seconds on Jetson TX2, not as bad on desktop). This issue is likely to get worse as more specialized numba/cupy kernels are implemented.

In general, we should provide a function for pre-compilation of specific parts of cusignal, and fall back to lazily

[2020-04-09 03:16] mnicely commented on #54
@awthomp I think we can visit this after we restructure the codebase. Things should get simpler.

[2020-04-09 12:29] awthomp commented on #54
@mnicely -- Let's file a separate issue for the codebase restructure and outline your proposal. I think we should work that off ASAP.

I just downloaded the cusignal-nightly release, and even the import on my workstation is relatively slow.

[2020-04-09 13:53] gmarkall commented on #54
Rather than requiring the user to explicitly precompile the kernels, could the kernel cache for a given function and arguments be populated on the first use for a given type instead? This would be similar to Numba's caching mechanism (when types are not specified - when they are specified, like we are/were doing, it compiles everything up-front).

[2020-04-09 19:13] mnicely commented on #54
@dicta @awthomp @gmarkall
Please see PR https://github.com/rapidsai/cusignal/pull/56. I believe it solves our issues and meets everyone's suggestions.

[2020-04-09 21:14] dicta commented on #54
[code]

Something like this is what I had in mind as implementation based on #56, just thinking about how we can make the API the most flexible (and avoid having to come back and change it later). Having an enumeration for numba/cupy selection also means if we add a third backend, we can support this without having to go look at every use_numba flag across the codebase. [Also, having a flag with t

[2020-04-10 13:18] awthomp commented on #15
![cusignal_logo_crop](https://user-images.githubusercontent.com/34922235/78993617-1461d000-7b0c-11ea-95d0-4425d455fc4d.jpg)

I don't have any clue how to create graphics, but I'd love something like this! What do ya'll think?

[2020-04-10 15:36] marcusmueller commented on #15
I like the idea of integrating a waterfall diagram, but all in all I think this might be a bi much: Waterfall + text + Waves thingy for a logo. I'd recommend making a recognizable logo that comes with a "full version", which includes the project name, and "just the bare logo" to be used e.g. as icon on websites, etc.

As such: simply the silhuette of a PCIe card, cut out of a waterfall, with the s

[2020-04-10 21:29] awthomp commented on #15
Thanks, @marcusmueller -- all very good points and ideas!

[2020-04-12 12:22] 0xCoto commented on #15
How about this?
![logo](https://user-images.githubusercontent.com/25392776/79068672-5c7e1f80-7cd1-11ea-8cbf-3287ac4d835a.png)

[2020-04-13 12:27] awthomp opened #57 "[FEA] Implement 1D Convolution/Correlation"
cuSignal currently supports 2D convolution and correlation via the use of raw CuPy CUDA kernels. The 1D equivalent of these operations are house, on CPU, in `numpy.convolve` and `numpy.correlate` but [have yet to be implemented in CuPy](https://docs-cupy.chainer.org/en/stable/reference/comparison.html). Since we already have a framework for raw CUDA kernels within CuPy, I can see two paths:

1. Qu

[2020-04-13 12:28] awthomp commented on #15
@0xCoto -- I love the simplicity and idea! Thanks for contributing!

[2020-04-13 12:32] awthomp opened #58 "[DOC] Further Delineate API Docs to Include Individual Functions in Drop Down List"
Currently, the cuSignal 0.13 (and nightly) [docs](https://docs.rapids.ai/api/cusignal/stable/api.html#) are divided into the major topics:
* Core Signal Processing Functions
* Waveforms
* Filter Design
* Window Functions
* Spectrum Analysis
* Wavelets
* B-Splines

But each of these categories only expands to one level. In other words, Under "Core Signal Processing Functions" is "Signal Tools" but

[2020-04-13 12:40] mnicely commented on #57
@awthomp Should be straightforward. In which file do you think the functions belong? Do you want the Numba complement kernel as well?

[2020-04-13 12:46] awthomp opened #59 "[FEA] Add aarch64 build support into CI/CD for cuSignal"
cuSignal 0.13 [currently has bare-bones instructions](https://github.com/rapidsai/cusignal#conda---jetson-nano-tk1-tx2-xavier-linux-os) for getting cuSignal built and running using Anaconda on a Jetson Embedded GPU. Since the main cuSignal developers are primarily working on PCIe versions of GPUs, some merged PRs may break aarch64 builds; this recently came up with [a Numba versioning issue](https

[2020-04-13 12:47] awthomp commented on #57
@mnicely Let's go straight to raw CuPy kernels and place the initial code in the same file as `correlate2d` and `convolve2d`.

[2020-04-13 13:43] mnicely commented on #57
@awthomp Sounds good. Notice my comment in https://github.com/rapidsai/cusignal/pull/56/ on how this will affect compile time.

[2020-04-14 09:54] xichaoqiang commented on #15
I think the color of cu is green better.Like the color of Nvidia cuda

[2020-04-14 10:06] 0xCoto commented on #15
Better?
![img](https://user-images.githubusercontent.com/25392776/79212760-b2c59c80-7e50-11ea-95f5-f5b790704f53.png)

[2020-04-14 10:08] xichaoqiang commented on #15
![image](https://user-images.githubusercontent.com/30900789/79212952-f6cd9700-7e7a-11ea-84f2-8021662f87cb.png)
change to red?

[2020-04-14 10:13] 0xCoto commented on #15
![logo](https://user-images.githubusercontent.com/25392776/79213357-b3aafe00-7e51-11ea-840b-0e6264c19ccb.png)

[2020-04-14 10:18] xichaoqiang commented on #15
GOOD

[2020-04-14 12:40] awthomp commented on #15
@0xCoto -- if you wouldn't mind, could you also mock up the logo using the "RAPIDS Purples" shown [here](https://rapids.ai/index.html)? I'm thinking the light purple for the cu, dark purple for Signal, and the green for the emissions?

[2020-04-14 15:32] 0xCoto commented on #15
Here you go. :)
![rapids](https://user-images.githubusercontent.com/25392776/79243106-de12b080-7e7d-11ea-96cc-632cbe12eda9.png)

[2020-04-15 19:58] awthomp opened #63 "[FEA] Refactor cuSignal Python code - CUDA Kernel Organization"
cuSignal was originally created as a direct port of SciPy Signal, including leveraging their [software library design decisions](https://github.com/scipy/scipy/tree/master/scipy/signal). With the growth of cuSignal and introduction of more raw CuPy CUDA kernels, the cuSignal codebase is growing difficult to maintain and document. Further, many seemingly disparate functions are housed in meta-files

[2020-04-16 12:45] mpariente opened #64 "[QST] Any plan for being backpropagable"
Thanks a lot for your work, this looks great !

Is there any plan to make some ops differentiable and backpropagable, maybe have a pytorch backend or something?

Just asking because some of these things would have even a greater impact in deep learning based audio applications :-)

[2020-04-16 13:03] awthomp commented on #64
Hey @mpariente -- thanks for participating and asking a question about cuSignal!

Currently, cuSignal's connection to PyTorch is via the `__cuda_array_interface__` which provides a standard for how GPU memory is structured and used. All libraries that support the interface can zero copy memory and keep data on the GPU as long as possible.

In the case of an audio signal processing operation, you c

[2020-04-16 13:30] mpariente commented on #64
Hey @awthomp, thank you so much for your great answer, that is very informative !
I got what you explained about using CuSignal for online preprocessing and that's already great. I had something slightly different in mind.

Let's say I have a waveform, I want to do some preprocessing, compute a spectrogram and then feed it to the network, the first steps can be done with CuSignal.
Now, the output

[2020-04-16 16:12] awthomp commented on #64
@mpariente

Now, the output of my network is a modified spectrogram and I want to go back to the time domain to compute a time-domain loss function, I can't use CuSignal for that. And as spectrogram inversion is not universal, I'll probably end-up using a different spectrogram altogether.

Are you imagining your classification to be some sort of segmentation task or classification? In other words,

[2020-04-16 19:28] mpariente commented on #64
True for preprocessing.

In general, I work in audio source separation and speech enhancement. Let's have a speech enhancement example in pytorch.
[code]

That was the first idea I had in mind. And I'd loose the gradients when I compute the ispectrogram with CuSignal right?
Second thing I'd like to do : translate [this code](https://github.com/mpariente/pystoi) into pytorch to make it a backpropag

[2020-04-16 19:30] mpariente commented on #15
These look nice !
Just an suggestion, I had the logo for [Asteroid](https://github.com/mpariente/asteroid) done last week on Fiverr, it was really cheap and really fast. You might want to consider it :wink:

[2020-04-17 14:51] awthomp commented on #64
@mpariente This would be a neat thing to code up together and see where we can improve cusignal to meet your needs. I understand where you're coming from with backpropagation, but I *am* curious if we can essentially do this:

[code]

I might be missing something with PyTorch details, but I don't immediately see why that wouldn't work. I assume there's a way to save or checkmark the gradients? Wan

[2020-04-17 18:01] mpariente commented on #64
Hey Adam,

This type of code would actually work, but if you call `loss.backward()`, things will break as `ispectrogram` doesn't have a `backward` method.
I'm pretty sure about that but not 100% so I'll make an example next week probably.

It would also be a pleasure!
Manu

[2020-04-17 21:09] #57 closed

[2020-04-20 17:35] mnicely commented on #54
Fixed with https://github.com/rapidsai/cusignal/pull/56

[2020-04-20 17:35] #54 closed

[2020-04-23 01:30] #64 closed

[2020-04-23 16:46] mnicely opened #68 "[FEA] Add Kalman filter support for multi-point problems"
Add multi-point https://github.com/rlabbe/filterpy/blob/master/filterpy/kalman/kalman_filter.py functionality to cuSignal.

The idea is to run KF on multiple points simultaneously. Will start working on test code.

Once this is implemented efficiently and correctly, we might consider add EKF, UKF, and PF.

Requested by @JasonAtNvidia

[2020-04-23 18:07] awthomp commented on #63
We are halfway there! With we reorganized the directory structure and improved documentation.

The bulk of cuSignal codebase has now been reorganized, but the Numba CUDA and raw CuPy CUDA kernels still reside in `_upfirdn.py`, `_spectral.py`, and `_signaltools.py`. We still need to reorganize:

- [ ] `convolve2d`
- [ ] `convolve1d`
- [ ] `correlate2d`
- [ ] `correlate1d`
- [ ] `upfirdn`
- [ ] `lom

[2020-04-24 13:01] awthomp commented on #14
Changing title to update the issue.

One new FFT feature has been added in the 8.0.0 pre-release of CuPy, and that's the ability to disable n-dimensional FFT planning. This can potentially accelerate nD FFTs at the cost of physically taking more GPU memory. I'd like to analyze use of this in cuSignal in addition to the FFT differences in the original issue submission.

https://docs-cupy.chainer.or

[2020-04-30 18:03] awthomp commented on #7
I was looking at PyTorch Audio, and it looks like they have a version of lfilter that runs on GPU: https://github.com/pytorch/audio/blob/master/torchaudio/functional.py#L673-L744

A few points:
* a and b must be the same size (e.g. pad with zeros if needed)
* input signal needs to be scaled between -1 and 1

Rough code:

[code]

Going to reopen this issue.

[2020-04-30 18:38] rossant commented on #7
FYI we also have [an FFT-based GPU implementation of lfilter using cupy here](https://github.com/MouseLand/Kilosort2/blob/master/pykilosort/cptools.py#L179-L275)

[2020-04-30 18:51] awthomp commented on #7
This is great, @rossant ! Do you have any perf/accuracy metrics between your FFT based lfilter and scipy.signal.lfilter?

What would you suggest for cuSignal? Looks like torchaudio is using the DF-II implementation, and I was going to muck something together to look at low-level perf.

BTW - We've added new 1D and 2D correlate/convolution functionality with raw CuPy CUDA kernels that deliver 2-3x

[2020-04-30 20:11] luigifreitas commented on #7
I made a quick comparison between the two methods. The `torchaudio` based `lfilter` takes significantly longer to complete. Both results seem to be practically equal.

![image](https://user-images.githubusercontent.com/6627901/80754280-26300500-8b05-11ea-85d8-a8300141428d.png)

[code]

[2020-04-30 20:41] awthomp commented on #7
Hey @luigifreitas -- Thanks for the input! Do you mind posting the code you used to generate this?

[2020-04-30 22:08] luigifreitas commented on #7
Hi @awthomp, sure! I added four types of comparisons in this [Jupyter Notebook](https://github.com/rapidsai/cusignal/files/4561639/lfilter_torch.zip). I also ported the `lfilter` [function](https://pytorch.org/audio/_modules/torchaudio/functional.html#lfilter) from Torch to CuPy. The performance is worst but it can still be optimized.

[code]

[code]

[2020-04-30 22:54] awthomp commented on #7
Hey @luigifreitas -- great work! I think there's some room for optimization in the cupy'd version of Torch's `lfilter` too.

How about you write a PR referencing this issue and place your `cupy_lfilter` in `python/cusignal/filtering/filtering.py` as `lfilter`? You'll also need to edit the `__init__.py` file in filtering and also in `cusignal/python/cusignal`.

When submitting the PR, be sure to la

[2020-05-01 16:59] flytrex-vadim opened #74 "[QST] Is lazy evaluation used ?"
I'm trying to do a simple benchmarking of cuSignal vs signal on correlation.   It seems that the correlate2d completes immediately, and the buffer transfer takes 2.8 seconds. Makes no sense for buffer size of 80 MBytes.
Could it be the correlation is evaluated lazily only when buffer transfer is requested ?

[code]
and getting :
[code]

[2020-05-01 17:46] awthomp commented on #74
Hey @flytrex-vadim -- thanks for asking a question. @mnicely is our benchmark and performance guru, but a couple of observations:

* We're currently working on helper code to pre-compile and pre-cache these CUDA kernels. As it stands now, if you don't explicitly declare to do so, part of the processing time for first invocation on a cusignal function consists of that kernel compilation.
* I'm not

[2020-05-01 18:30] mnicely commented on #68
I believe I working Kalman Filter [here](https://github.com/rapidsai/cusignal/pull/69). It currently has limited functionality as it only accepts `dim_z=2`. The is because I hardcoded the matrix inversion for simplicity. I'll add `dim_z=3` and `dim_z=4` later. Larger than 4 will come later.

I've also added a test_script from @JasonAtNvidia that I used as a go by.

Current measures from a DGX stat

[2020-05-01 19:24] flytrex-vadim commented on #74
Hi @awthomp , thanks for answering. Few comments:
1. My data is being loaded from external file, so generating on GPU is of little help (I'm benchmarking reference dataset while validating correctness and accuracy)
2. It seems to me that some synchronization primitive/barrier is missing. Here's another test with 1D correlate, where the result depends on the method used. With FFT method the time is

[2020-05-01 19:40] mnicely commented on #74
Hi @flytrex-vadim,

I will try to recreate your scenario early next week and check if I'm missing any blocking.

In the meantime, can you use %timeit instead of %time. We've found it provides miss leading results with GPU profiling.

An even better way would be to use CuPy's NVTX markers.
[code]

To precompile the kernels try
[code]

[2020-05-01 19:41] awthomp commented on #74
Hey @flytrex-vadim -- what's the size and dtypes for `sig_0` and `pulse` in your example? If you have any code you feel comfortable sharing, that might give us a better idea of what's going on.

One way to avoid some of the overhead in the CPU -> GPU transfer is to make use of our shared memory function that removes pages from being swapped by the OS (pinned) and then virtually addressed by the GP

[2020-05-01 19:43] luigifreitas commented on #7
Hey @awthomp, just created the pull request as requested. Let me know if I missed something.

[2020-05-01 20:24] flytrex-vadim commented on #74
Thanks guys,

the array shapes I'm using for 2D :
signal (181, 55000)
pulse (1, 14999)
correlation (181, 40002)
with 1D case being row slices of the same. Tried both float64 and float32

Here's the snapshot of my experimental notebook:
[correlate_ipynb.zip](https://github.com/rapidsai/cusignal/files/4566162/correlate_ipynb.zip)

I'll try looking into shared memory and other timing mechanisms

[2020-05-02 09:12] flytrex-vadim commented on #74
btw, speaking of shared memory, how would I pass the allocated shared shared memory buffer to function to be used for output ?

[2020-05-03 12:05] awthomp commented on #74
Hey @flytrex-vadim -- once you've allocated the shared memory buffer and loaded it with data, you can use it alike any normal CuPy/cuSignal array.

For example, above:

[code]

The way CuPy/cuSignal migrate data is basically via `cp.asarray`. This functionality migrates data from CPU to GPU if and only if that data isn't already detected on GPU. Since you'd be calling a function with an array that

[2020-05-03 20:14] flytrex-vadim commented on #74
Hi @awthomp ,
I've payed with variations of the example above. However they seem to address only the **in** parameters - the parameters passed to the function.
My question was referring to the **out** parameter - the returned values.  I would assume the returned array would be (by default) allocated on the GPU and would need to be transferred to the CPU accessible memory.

And I do not see any way

[2020-05-03 23:20] awthomp commented on #74
This is a good point @flytrex-vadim, and it's been suggested on another thread -- basically that we can ensure memory external to cusignal functions is zero-copy, but it's all abstract internal to the function. If we create some internal array, for example, can we have that be zero copy too? Further -- you're correct; all output is assumed to be on GPU, and there's not currently a feature to retur

[2020-05-04 12:16] awthomp opened #76 "[FEA] Enable the customization of both internal and output memory types"
Based on the question posed by @flytrex-vadim here: https://github.com/rapidsai/cusignal/issues/74 and previous discussions with @mnicely and @dicta, we should enable the cusignal user to more easily manipulate and specify the types of data used internal to cusignal functions in addition to the output memory type.

As a reminder, cusignal wraps `numba.cuda.mapped_array` to enable a DMA between CPU

[2020-05-04 12:21] awthomp commented on #74
@flytrex-vadim -- I created a feature request addressing one of your comments here: https://github.com/rapidsai/cusignal/issues/76. Let's move discussion there.

Do you mind if I close this issue?

[2020-05-04 18:33] flytrex-vadim commented on #74
I think the two original questions remain:
1. is there a missing wait or block in the 'direct' mode of correlation that would cause the function to return before the calculation is complete ?
2. is there a particular performance bottleneck in the array sizes I was using (signal:55000, pulse:14999) that would result in particularly slow execution, data transfer excluded ? Do I need to do zero paddi

[2020-05-04 19:43] awthomp commented on #74
Hey @flytrex-vadim. I was working out of your notebook and have a few comments observations:

1. It looks like your 1D correlation example is pitting `scipy.signal.correlate` vs `cusignal.correlate` with input data sizes for `sig_0` at (55000,) and `pulse` (14999). Here, I see similar behavior on a P100 as you: Scipy Signal is outperforming cuSignal on these data sizes.

2. For your 2D correlation

[2020-05-04 19:54] flytrex-vadim commented on #74
This is very interesting. On my GTX 1050 Ti it takes 1.4 seconds.
I was trying both correlate2d and line-by-line option to see if there's any speedup in one of the options (1.4s line-by-line and 2.8s with correlate2d)

[2020-05-04 20:00] flytrex-vadim commented on #74
Yes, I can confirm that adding synchronize call waits for the operation to complete (tested with correlated2d)

[2020-05-04 22:36] awthomp commented on #74
You can always run our benchmark tests on your 1050 TI and let us know what you see.

From `HEAD/python` run: `pytest -v --benchmark-only -k correlate2d`.

[2020-05-05 04:19] mnicely commented on #74
@flytrex-vadim cusignal functions are nonblocking by design. The same way a C++ CUDA kernel is nonblocking. And if you don't pass a non-default CuPy stream everything is launched in the default stream, which is blocking.

So a kernel launch is non-blocking, but it launches in a stream that is blocking??? Yes, it can be a little confusing but in a heterogeneous system it means that the host code la

[2020-05-05 10:05] flytrex-vadim commented on #74
I'm getting:
[code]
Running pytest -v from HEAD\ works fine, all tests pass.

[2020-05-05 10:35] awthomp commented on #74
Be sure to conda install or pip install pytest-benchmarks.

[2020-05-05 17:03] mnicely opened #77 "[FEA] Implement auto-synchronization"
Currently, cusignal functions are asynchronous to minic C++ CUDA functionality. The intent was to allow users to handle synchronization manually.

A better approach is probably to auto-synchronize on the stream passed to a function. Then add a flag to allow advanced users to override and handle synchronization manually.

[2020-05-05 17:45] awthomp commented on #74
@flytrex-vadim -- We've filed another feature request based on your questions. https://github.com/rapidsai/cusignal/issues/77

Thanks again for the great discussion.

[2020-05-05 18:53] flytrex-vadim commented on #74
Happy to help with some noob testing :)

Results attached: [bench_correlate2d.txt](https://github.com/rapidsai/cusignal/files/4583040/bench_correlate2d.txt)

Are there any reference results for comparison and/or guidelines how to interpret them ?

[2020-05-05 18:57] mnicely commented on #74
Hi @flytrex-vadim, thanks for the benchmark. I found a bug today that causes the output to be sorted incorrectly. Accurate results are the median. I'll be pushing a fix in the next few days.

[2020-05-05 20:20] #7 closed

[2020-05-05 21:20] mnicely opened #79 "[FEA] Add 2D+ functionality to lfilter"
I've discovered my lfilter implementation doesn't work on input signals greater than 1D.

NotImplementedError will be used until this feature is added.

@luigifreitas It looks like there these two lines are not equivalent. It works for 1D only.

If you have time to track down the issue let me know. If not, I'm going to put this in the queue for later.

[code]

[code]

[2020-05-06 12:25] awthomp commented on #74
Closing this issue; we certainly appreciate the discussion and the 2 feature requests generated from it!

[2020-05-06 12:25] #74 closed

[2020-05-06 12:37] mnicely opened #80 "[BUG] Add hooks to pass custom stream to upfirdn"
Currently, _upfirdn_ takes **cp_stream** and **use_numba** parameter. The following functions call _upfirdn_ but don't allow passing the parameters.

1. _decimate_
2. _resample_poly_ (Has **use_numba** but not **cp_stream**)

[2020-05-06 12:46] mnicely opened #81 "[FEA] Add data types to benchmarks and tests"
Currently, only float32 is tested with our test and benchmark suites. We need to add all data types that pertain to a particular function for thorough testing.

Also, we can modify test suites to use test fixtures like benchmarks to speed it up and simplify code.

[2020-05-06 17:52] luigifreitas commented on #79
Hi @mnicely, thanks for reviewing the code. The `torch.t()` transposing method appears to be compatible with `numpy.ndarray.T`. The code below should enable operations with the input signal being greater than 1-D. I'm not in a CUDA enabled computer right now. I'm hoping to validate this code in the next couple of hours.
[code]

[2020-05-06 17:57] mnicely commented on #80
Added fix in Autosync PR

[2020-05-06 20:05] #77 closed

[2020-05-06 20:05] #80 closed

[2020-05-07 05:49] luigifreitas commented on #79
Just verified that the proposed solution above does work as expected.

[2020-05-07 12:26] awthomp opened #85 "[DOC] Reorganize Jupyter API Notebooks to match cuSignal 0.14 code refactor"
The Jupyter API docs that demonstrate cuSignal API layout and performance need to be updated to match the code refactor. Currently, we have the following notebooks:
* acoustics
* bspline
* peak_finding
* signaltools
* spectral
* waveform
* wavelets
* windows

signaltools, in particular, has been deprecated. The new code structure would consist of:
* acoustics
* bsplines
* convolution
* filter_desi

[2020-05-07 12:29] awthomp opened #86 "[DOC] Update README to show how to install, use, and interpret pytest-benchmark"
We have documentation describing how to use the standard unit tests provided in pytest but no documentation surrounding the performance benchmarks. Let's do the following:

* Describe how to conda/pip install `pytest-benchmark`
* Describe how to execute benchmark tests
* Describe how to interpret the results

[2020-05-07 12:47] awthomp commented on #59
The core cuSignal dependencies on the Jetson GPUs are:
* scipy
* numpy
* numba>=0.49
* cupy >= 7.2

Scipy, Numba, and Numpy all have anaconda images built for aarch64 and are available via conda-forge or numba channels. CuPy, however, is seemingly blocked in their aarch64 build.

See:
https://github.com/cupy/cupy/issues/3196
https://github.com/AnacondaRecipes/cudatoolkit-feedstock/issues/3

The cu

[2020-05-07 16:36] mnicely opened #88 "[FEA] Remove Numba 0.49 check."
# Info

The following files check Numba version.
1. upfirdn.py
2. signaltools.py

[code]

Release 0.14 will require Numba 0.49 making this check obsolete.

[2020-05-07 16:38] awthomp commented on #88
PR https://github.com/rapidsai/cusignal/pull/84 closes this issue.

[2020-05-08 15:46] #63 closed

[2020-05-08 16:55] awthomp opened #90 "[BUG] cuSignal lfilter performance not satisfactory for real-time signal processing tasks"
Hat tip to @luigifreitas for testing cuSignal's single-threaded `lfilter` implementation within [Radio-Core](https://github.com/luigifreitas/radio-core), we're seeing the performance degradation of single-threaded on GPU linear filtering to be consuming other speedups (like polyphase resampling) within a cuSignal workflow.

Unfortunately, I feel we need to degregate `lfilter` and instead focus on

[2020-05-08 17:41] #88 closed

[2020-05-08 18:00] mnicely opened #91 "[FEA] Remove Custom Numba CUDA Kernels for 0.15"
Numba Kernels will be removed from cuSignal 0.15

[2020-05-08 18:21] awthomp commented on #91
Edited the PR title to make it clear that cusignal still leverages and depends on Numba (for things like shared memory). We are *not* removing all instances of Numba -- only the Numba CUDA kernels.

[2020-05-09 20:35] mnicely opened #94 "[FEA] Added pytest-benchmark to yaml files"
Hey @awthomp. What do you think about us added pytest-benchmark to the yaml files so it's installed by default.

I think eventually we might want to add a benchmark step in the issue process. If a user thinks they are seeing performance issues, we can provide them a command to run and they can upload the results for analysis.

[2020-05-10 14:01] awthomp commented on #94
@mnicely -- I was looking at what other RAPIDS libs do, and they use the conda/environments ymls as dev environments. I'm supportive of adding pytest-benchmarks here. I'd like to confirm, but I believe the Conda channel cusignal build is controlled by `conda/recipes/meta.yml`

[2020-05-10 14:06] mnicely commented on #94
So you mean like adding a separate ‘cuSignal-dev.yml’? I like that.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Adam Thompson <notifications@github.com>
Sent: Sunday, May 10, 2020 10:01:43 AM
To: rapidsai/cusignal <cusignal@noreply.github.com>
Cc: Matthew Nicely <mnicely@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [rapidsai/cusignal] [FEA]

[2020-05-10 14:18] awthomp commented on #94
Yeah, and even more to the point: I thought our nightly edits were uploading to Anaconda Cloud via the Conda environments in `conda/environments`, but I *think* it's using `conda/recipes/cusignal`, meaning our ymls in environments are automatically dev envs. We can confirm this Monday and make appropriate changes (like changing the env name from cusignal to cusignal-dev).

[2020-05-11 02:37] #81 closed

[2020-05-11 12:56] #90 closed

[2020-05-11 18:25] #86 closed

[2020-05-11 20:28] #94 closed

[2020-05-13 17:51] mnicely commented on #52
@dicta I've been trying to put this on the GPU, but I can't seem to get the math correct.
When I look at the following code from `scipy.signal.sosfilt` I see a dependency with `x[i, n]`.
Can you help me see what I'm missing?

[code]

Also, I agree with your comments on the parallel form. If we can get the cascade working, the parallel should be straight-forward.

[2020-05-13 18:11] mnicely opened #100 "[FEA] Implement C++ Templating in raw kernels"
Over the past few weeks, I've been working with the CuPy developers to remove the `extern C` constraint currently required for raw kernels https://github.com/cupy/cupy/pull/3319. They have recently added the ability to template CUDA kernels.

This allows for compile time optimizations such as loop unrolling and static shared memory allocations, by passing other templated parameters. Both of which

[2020-05-13 19:27] dicta commented on #52
The trick to placing the cascade on the GPU efficiently is that for a large number of sections, you can run the computations for a section on one set of samples in parallel with a different section on a different set of samples. And then you can unroll the computations of a section to process a block of samples instead of looping over a single sample in order to increase the amount of work done in

[2020-05-13 19:45] dicta commented on #52
Also as an implementation detail relative to the above comment, n_sections being on the order of a warp size is likely for many applications, so a stab at a fast implementation of the loop iterations would be to create a kernel that processes up to 32 sections (or other warp size, if different for particular hardware), using `_shfl_up()` instructions to implement the data access patterns between i

[2020-05-13 23:56] awthomp commented on #79
Closing due to `lfilter` deprecation in https://github.com/rapidsai/cusignal/pull/93

[2020-05-13 23:56] #79 closed

[2020-05-16 13:23] mnicely commented on #52
@dicta I was able to implement the workflow you described above and pushed it to Adam's [PR](https://github.com/rapidsai/cusignal/pull/99). The CuPy version is 53x faster than the CPU for our largest scenario.

There are a few limitation. I'm using shared memory to move samples to the next sections. The limits the maximum number of sections to 1024, and a little less for double precision. Also, on

[2020-05-16 13:39] awthomp commented on #52
To pile on with @mnicely -- The thing that'd be the most helpful for us @dicta, at this point, would be if you pull this PR and see how it's performing for your given problem set. You're more than welcome to push to my fork, too.

[2020-05-20 22:38] grlee77 opened #102 "[FEA] updating upfirdn to match upcoming SciPy 1.5 release"
**Is your feature request related to a problem? Please describe.**

I just wanted to make the cuSignal devs aware that there will be a small change to the signal output length of `upfirdn` in the upcoming SciPy 1.5 release. (In some cases the returned signal will be slightly shorter).

**Describe the solution you'd like**
Make changes to the output length as in scipy/scipy#12159

**Describe altern

[2020-05-20 23:08] awthomp commented on #102
Thanks for the heads up. @grlee77 !

[2020-05-26 16:35] #85 closed

[2020-05-26 16:44] awthomp opened #107 "[FEA] Update PyTest and PyTest-Benchmark Modules/Classes to Match Code Reorg"
The current pytest/pytest-benchmark scripts assume the legacy (cusignal <= 0.13) organization. Rather than:

[code]

We should include:

- [ ] test_convolution.py
- [ ] test_spectral.py
- [ ] test_filtering.py
- [ ] test_filter_design.py
- [ ] test_spectral_analysis.py
- [ ] test_waveforms.py
- [ ] test_wavelets.py
- [ ] test_windows.py
- [ ] test_bsplines.py
- [ ] test_acoustics.py (although this

[2020-05-27 12:46] #52 closed

[2020-06-03 15:48] mnicely opened #115 "[BUG] Fix stream usage for all functions"
While creating a robust test script for the Kalman Filter I ran into an issue, which @takagi has determine is caused my the use of `stream.use` (https://github.com/cupy/cupy/issues/3316). It doesn't seem to be an issue until you try running multiple cuSignal API calls in a loop.

This fix is simple.
Replace all
[code]

with

[code]

[2020-06-04 14:03] awthomp opened #117 "[FEA] Add support for GPU Accelerated SigMF Reader"
SigMF is a signal metadata specification described in more depth [here](https://github.com/gnuradio/SigMF/blob/master/sigmf-spec.md#specification). SigMF recordings consist of the following:
1. JSON header file
2. Dataset, consisting of signal samples

A standard way to read in SigMF files is described here: https://github.com/gnuradio/SigMF/issues/114

[code]

But a user can also use `np.fromfile

[2020-06-08 15:13] #115 closed

[2020-06-14 15:58] #91 closed

[2020-06-14 19:26] mnicely opened #123 "[BUG] Not utilizing streams in functions with raw kernels"
I discovered while working on the SigMF reader that while I was using the custom streams for the raw kernel, I wasn't using them for the data transfers :facepalm:. I have confirmed this for all function with CuPy Raw Kernels. This will cause poor/invalid performance for anyone using non-default streams.

I've attached a screenshot of two lombscragle functions running sequentially. But the second h

[2020-06-15 12:08] awthomp opened #125 "[BUG] Doc formatting broken in 0.14 Stable"
# Weird String Object (e.g. `cp_stream=<cupy.cuda.stream.Stream object at 0x7f88f1039090>`) showing in API guide for:
* convolve
* convolve2d
* correlate
* correlate2d
* decimate
* resample_poly
* upfirdn
* lombscargle

# Examples broken for:
* convolve2d
* correlate2d
* lombscargle

# Formatting broken in:
* upfirdn
* lombscargle
* vector_strength
* rceps

# Awkward documentation
* get_window win

[2020-06-15 15:54] awthomp commented on #125
Stream formatting coming from `cp_stream=cp.cuda.stream.Stream.null` in custom kernels.

[2020-06-16 18:44] #125 closed

[2020-06-17 08:47] QSatDT commented on #8
@luigifreitas  and @vielmetti I am posting here in case you have any updates or recommendations from personal experience on trying to use cusignal and soapysdr on Nvidia Nano, with conda4aarch64. I am trying my best to write my own first example of an RF receiver on an Nvidia Nano, but I don't seem to manage to install correctly soapysdr from source inside the conda environment. Any insight would

[2020-06-17 09:07] G4GUO commented on #8
What I did was to compile and install Limesuite from source then Soapy (you have to do it in that order otherwise Soapy doesn't find the Lime system. Then I copied  SoapySDR.py and  _SoapySDR.so somewhere they could be found (in my case in the notebooks/sdr folder (yes I know bad practice)). I also copied  SoapySDRUtil over so I could verify all the parts worked. I am sure someone else can give yo

[2020-06-17 12:02] mnicely opened #128 "[FEA] Make use of constant memory"
CuPy v8.0 allows for better integration of constant memory accesses, see [here](https://docs-cupy.chainer.org/en/latest/reference/generated/cupy.RawModule.html). This can be used to speed up kernels such at `convolve/correlate`.

I'll start working on this which I finish up other issues. This should be pushed until CuPy v8.0 is publically released and stable.

[2020-06-17 12:18] mnicely opened #129 "[FEA] Restructure code to load cubins."
CuPy's RawModule has functionality to load cubins, as well as compile using nvrtc. cuSignal currently does the later. However, this requires kernels to be compiled on first use, which can be detrimental to performance in some cases.

Our initial solution was to compile all RawModule on import but as more kernels were added, import time increase by ~10x on embedded hardware. Our current solution is

[2020-06-17 12:55] awthomp commented on #8
Hey @QSatDT -- The Deepwave Digital folks have a good walkthrough on their website [here](http://docs.deepwavedigital.com/Tutorials/6_conda.html#install-airstack-drivers-in-conda-environment). They use their own Soapy driver, though -- so you'll need to keep this in mind if you don't have one of their AIR-T devices.

That said, the magic of what @G4GUO explains is in this code snippet. This is fro

[2020-06-17 13:11] QSatDT commented on #8
@awthomp @G4GUO  Thank you very much for your kind replies! :) I will immediately proceed to test it out! Thank you also for the reference to DeepWave Digital, I find it very useful for what I am trying to learn.

[2020-06-17 14:15] mnicely commented on #107
I believe `*_spectral.py` should be moved to `*_spectral_analysis.py` versus having both.

[2020-06-18 12:35] #123 closed

[2020-06-18 12:37] awthomp opened #131 "[DOC] Add Jupyter Notebook Demonstrating Stream Usage"
With the CuPy/CUDA Stream redesign in cuSignal 0.15 (https://github.com/rapidsai/cusignal/pull/124), I'd like to better demonstrate how to make real use of multiple streams to the cusignal community. Let's add a Jupyter notebook to `notebooks` showing how to do this. As we merge the GPU accelerated SigMF reader/writer, this might be a really good mechanism to put a file read in one stream and a si

[2020-06-22 16:18] #117 closed

[2020-06-23 11:59] awthomp opened #134 "[FEA] Remove and create dedicated write functions from io/reader.py"
In the new IO module of cusignal, we need to create a `writer.py` file that references the GPU accelerated write functionality included (currently) in `reader.py`. We will also need to update the docs (`docs/source/api.rst`).

[2020-06-23 16:29] cwharris opened #135 "[BUG] Rename "master" branch."
Decades from now, will history students wonder why an entire industry decided to rename a core part of its infrastructure, or will they wonder why it was named that way to begin with?

Let's rename the "master" branch.

rapidsai/cudf#5560

[2020-06-23 16:33] awthomp commented on #135
Agree. I want to fix this ASAP. While cuSignal follows the RAPIDS ops team in terms of SW management, and the default branch is pegged as `branch-XXX`, I'd like to see all mention of `master` removed. I'll default to how OPs goes about the change (e.g. we could rename to `default`).

[2020-06-23 17:10] mike-wendt commented on #135
As mentioned in rapidsai/cudf#5560 there is a coordinated effort for this that is still in progress. Once approved a new issue with steps for each repo will be created here and the necessary PRs for the transition in the next few weeks.

[2020-06-23 17:10] #135 closed

[2020-06-23 20:39] #134 closed

[2020-06-24 02:21] gtg740x opened #137 "[BUG] Bug/Error in resample_poly for large resample factors and large input sizes"
**Describe the bug**
Resampling a large array with a large up/down factor results in periodic sections of samples with value of zero with resample_poly(..., use_numba=False) or a phase discontinuity with resample_poly(..., use_numba=True). The periodicity is the same for both issues.

Run the example code below to see the result when compared to scipy.signal.resample_poly.

**Steps/Code to reprodu

[2020-06-24 03:01] gtg740x commented on #137
I also re-tested this with the following conda environment on my local laptop:

(P5000, Ubuntu 16.04, 418.87.01)

conda create -n cusignal -c rapidsai -c nvidia -c numba -c conda-forge cusignal=0.14 python=3.6 cudatoolkit=10.1
conda install ipython jupyter matplotlib

This resulted in the same output as the server:

[Sample Output Plot]https://i.imgur.com/64Q5kFF.png)

[2020-06-24 03:12] gtg740x commented on #137
And just to narrow down the issue, I factored out the resample to two stages of up 20, down 31 and up 20, down 43, and then all three methods have consistent results:

[code]

[2020-06-24 12:05] awthomp commented on #137
Thanks for submitting the issue, @gtg740x. I've confirmed this bug on my system.

As an aside, rather than plotting results, I'm using:

[code]

@mnicely -- I know your schedule is a bit wonky this week, so I'll take a first pass and see if I can find where the bug is. I'm assuming we have an issue in `upfirdn`. A few key points:
* Even though we've deprecated Numba CUDA in 0.15, I had @gtg740x ch

[2020-06-24 12:43] mnicely commented on #137
@gtg740x It looks like the issue was dealing with an overflow which I did not expect. I believe it has been fixed #138 .

Do you mind retesting with the PR branch or once it has been pushed to 0.15 nightly?

[2020-06-24 12:48] awthomp commented on #137
And just to be explicit, since we're pushing this change into 0.15 (and available with the cusignal nightlies), the `use_numba` option has been deprecated from the API.

You can either build from source: [instructions here](https://github.com/rapidsai/cusignal#source-linux-os) or grab the conda nightly tomorrow morning via:

`conda install -c rapidsai-nightly -c nvidia -c numba -c conda-forge cusi

[2020-06-24 13:46] gtg740x commented on #137
@mnicely - I pulled your PR branch and everything looks good on my end. Really appreciate the fast response time on this! Thanks

[2020-06-24 14:42] #137 closed

[2020-07-02 02:57] kac487 opened #140 "[BUG] Trouble importing cusignal"
Hello,
I think i am running into a bug when importing cusignal in python 3.6. It looks like it is searching for the `six` module under `scipy._lib`  Here is a capture of the stack trace I receive

[code]
Hare are the versions of scipy and cusignal I am running in anaconda
[code]
Here is the specific conda command I used when installing cusignal
`conda install -c rapidsai -c nvidia -c conda-forge -

[2020-07-02 13:02] awthomp commented on #140
Thanks for the detailed bug report, @kac487 -- we'll take a look!

[2020-07-02 14:36] boonedoggle opened #141 "[FEA] Better support for CONDA on Embedded GPUs"
Can we test and potentially make this conda environment the official version for cuSignal?

[https://github.com/conda-forge/miniforge](https://github.com/conda-forge/miniforge).

[2020-07-02 18:04] boonedoggle opened #142 "[FEA] Polyphase Channelizer"
**Is your feature request related to a problem? Please describe.**
Most applications in signal processing are predicated on channelizing a wider band signal into multiple lower bandwidth channels.

**Describe the solution you'd like**
There are many options here and most channelizers are likely not optimized for GPU processing. Here are a few suggested implementations to get the conversation start

[2020-07-02 18:24] datametrician commented on #141
@kkraus14 @mike-wendt thoughts for RAPIDS on Arm in general, can someone add Jason as well (@awthomp)

[2020-07-02 19:11] awthomp commented on #142
Thanks, @boonedoggle. I definitely want to see polyphase channelizer support in cuSignal.

[2020-07-02 19:42] awthomp commented on #140
@kac487 -- We didn't force an upper limit on SciPy package compliance, so when they upgraded to 1.5, our dependency broke. We are placing a hotfix to force 1.4.1 and will look at inclusion of 1.5 in the future. Thanks so much for the bug report! This should be fixed with https://github.com/rapidsai/cusignal/pull/143

[2020-07-02 19:43] #140 closed

[2020-07-02 19:56] awthomp commented on #141
@jasonatnvidia

[2020-07-02 19:59] awthomp commented on #141
This PR originates with a "more supported" delivery mechanism to cuSignal on aarch64 and involves, I think, 2 main things:

1. Replace conda4aarch64 with miniconda
2. Beef up cusignal packaging to run on Jetson CI/CD and deliver a cusignal aarch64 package. I think the blocker here is via CuPy. @jakirkham

[2020-07-02 21:05] awthomp commented on #141
I was able to get cuSignal up and running using minforge. We can file a PR to change our installation docs and default to miniconda in the future. Nevertheless, the process was the same as delinated here:

To install miniconda on the TX2:
[code]

I'll submit a PR to update the README install instructions to make use of minforge over conda4aarch64.

[2020-07-06 13:47] boonedoggle commented on #141
Confirming that I have gotten miniforge to work on the AIR-T (Jetson TX2) which is based on L4T 32.2.1.

[2020-07-06 16:29] mnicely opened #145 "[BUG] Update cuSignal to be compatible with scipy 1.5.0"
I noticed after update my conda environment there are issues with SciPy 1.5.0.

Example
[code]

[2020-07-06 19:27] jakirkham commented on #141
Well we would actually need `cudatoolkit` for `aarch64`.[1] Also we would need an NVIDIA CUDA Docker image for `aarch64`.[2] These are prerequisites before being able to add the other bits needed in conda-forge to do `aarch64` builds (as would be needed for `cupy`).

[1] - https://github.com/AnacondaRecipes/cudatoolkit-feedstock/issues/3
[2] - https://gitlab.com/nvidia/container-images/cuda/-/issu

[2020-07-06 19:57] JasonAtNvidia commented on #141
@boonedoggle @jakirkham

Have a look at my github.  These feedstocks are about to be worked in to RAPIDS proper soon.
https://github.com/JasonAtNvidia/rapids_l4t_feedstock

Also, I have all the packages you need in my Anaconda channel.  https://anaconda.org/rocketsocket/  These are about to be released in a docker container that is aarch64.

[2020-07-07 12:56] boonedoggle commented on #141
@jakirkham curious on why an NVIDIA CUDA Docker image for aarch64 is a prerequisites on an embedded platform.

[2020-07-07 15:21] #145 closed

[2020-07-07 15:56] awthomp commented on #141
This might be due to my ignorance in how conda packages are actually built and released, but isn't there a way for these aarch64 packages to use the system CUDA toolkit installed via JetPack? In our cusignal Jetson conda install instructions, the only dependency that can't be satisfied on aarch64 is cupy, but a simple `pip install cupy` builds the package for the architecture and then cusignal is

[2020-07-07 20:45] mnicely commented on #102
Thanks @grlee77! You da man!

[2020-07-07 21:38] mike-wendt commented on #141
I'm working on getting Jetsons with JetPack integrated with gpuCI. Will probably be another week with other priorities at the moment. From there we can build bare-metal (so no need for the container), but I will need to create a CTK for aarch64. I have the recipes to do that, but need to get the Jetson AGXs connected to gpuCI first to do the builds.

[2020-07-08 02:24] jakirkham commented on #141
Using the Conda `cudatoolkit` package was the consensus formed in issue ( https://github.com/conda-forge/conda-forge.github.io/issues/687 ).

[2020-07-09 00:06] #107 closed

[2020-07-12 15:05] Vlad0922 opened #151 "[BUG] cusignal.filtering.detrend throws NotImplementedError due to cp.r_"
**Describe the bug**
Hello.
If one tries to use detrend function it throws NotImplementedError. The reason is because cp.r_ on line 566 does not work with slices.

**Steps/Code to reproduce bug**
The bug can be reproduces with any code I have tried, even the example does not work.

[code]

**Expected behavior**
Without exception.

**Environment details (please complete the following information):*

[2020-07-12 23:02] awthomp commented on #151
Thanks for the bug report, @Vlad0922! We'll take a look and keep this issue updated as we move forward.

[2020-07-13 16:09] #151 closed

[2020-07-13 23:36] mnicely opened #154 "[BUG] Can't run local CI build script"
Has anyone successfully executed the script at https://github.com/rapidsai/cusignal/blob/branch-0.15/ci/local/build.sh
I've tried multiple docker files but it always hangs.

@efajardo-nv It looks like you were the last to commit. Can you provide any insight?

[2020-07-14 14:44] efajardo-nv commented on #154
@mnicely gpuci recently switched to using new docker images. the local build script needs to be updated to use one of the new images. PR #153 should take care of that.

[2020-07-14 21:08] #154 closed

[2020-07-15 13:23] #68 closed

[2020-07-20 15:28] mnicely opened #166 "[BUG] NumPy 1.19 compatibility"
It looks like we need to wait on CuPy for finish proving out NumPy 1.19 compatibility with CuPy.

This should follow the following CuPy PRs.
https://github.com/cupy/cupy/issues/3627
https://github.com/cupy/cupy/issues/3630

Currently we are seeing the following error on sparatic functions. Below is from pytest-benchmark

[code]

[2020-07-20 17:27] kkraus14 commented on #166
@mnicely that error is due to something trying to call `np.asarray(...)` against a cupy array which has been decided they want to throw instead of implicitly doing a D2H copy. Do you have a test failure or stacktrace as to where this is occurring?

[2020-07-20 17:34] mnicely commented on #166
Currently, I'm seeing it occur when we run pytest. On `cp.asnumpy`
What's confusing is that we use `cp.asnumpy` on each test. I don't know why it only errors on a handful. :thinking:

[2020-07-20 18:29] mnicely commented on #166
The issue was in our pytest and never received errors before. This bug will be closed with #150

[2020-07-20 20:20] #102 closed

[2020-07-20 21:02] mnicely opened #169 "[FEA] Combine test and benchmarks"
Currently, we maintain `tests` and `benchmarks` directories.

Tests are used during the CI process and benchmarks are used as a performance check.

Maintaining has lead to a couple issues and increased workload.

Investigation needs to be performed to determine if these can be combined and a clean manner.

[2020-07-21 00:48] #166 closed

[2020-07-23 04:19] leofang commented on #14
For the original issue: The underlying implementation of all 3 FFT variants in CuPy is the same, and so you can use them interchangeably to a large extent (at least for C2C) like this:
[code]

For the follow-up comment:

I think you mean to accelerate nD FFTs by pre-allocating nD plans? Did I get you right @awthomp?

You're right that the bottle neck is often at plan creation, especially when the

[2020-07-23 13:23] awthomp commented on #14
Yes, @leofang! As you probably know, many signal processing workflows start with saying "okay, I want to take M N-point FFTs, and I want to do a TON of them as data streams in." We'd like the flexibility not to pay the API overhead for cuFFT plan creation with each call to `cupy.XXX.fft`.

We're very interested in following the cached FFT plan creation and ways to reduce the overhead!

CC @dicta @

[2020-07-24 20:13] aaronpearlman opened #171 "[QST] Is there a GPU-accelerated version of scipy's filtfilt routine available?"
Hello,

I was wondering if there is a GPU-accelerated version of scipy's `filtfilt` routine available in cusignal. If not, are there any plans to implement this?

I am looking for a way to speed-up this routine. If this is not already implemented or planned for the future, could the developers offer some advice for how I might be able to write a faster implementation?

Thanks,
Aaron

[2020-07-25 14:42] awthomp commented on #171
Hi @aaronpearlman - we have not yet implemented filtfilt, as the current SciPy implementation uses lfilter. We did some work on this in the past, but struggled with parallelization of the DF-II structure. If there is an FFT method, please let us know!

We are also tracking some other work on parallel IIR filters and welcome your contributions!

I’m on my phone and will be in and out over the next

[2020-07-31 19:47] mnicely opened #172 "[BUG] Seg Fault in E2E_Example.ipynb"
While implementing #101 , the follow issue appeared in CI

[code]

It looks like `log_softmax` has be replaced with `softmax`?

[2020-08-05 14:48] #129 closed

[2020-08-05 17:41] #169 closed

[2020-08-11 06:14] leofang commented on #14
Check out cupy/cupy#3730.

[2020-08-11 14:46] #172 closed

[2020-08-11 15:41] aaronpearlman commented on #171
Would you be willing to share those links that you mentioned on developing parallel IIR filters, work toward parallelizing the DF-II structure, etc...? I would be willing to contribute, if I am able.

Thanks,
Aaron

[2020-08-11 15:50] awthomp commented on #171
Hey @aaronpearlman -- you bet. Here was @mnicely's initial work with getting `lfilter` to run on the GPU: https://github.com/rapidsai/cusignal/pull/78. We removed it from the codebase due to poor performance.

There's also some more discussion on IIR filter parallelization in the cupy project here: https://github.com/cupy/cupy/pull/3645#issuecomment-663351896

CC: @coderforlife

Reopening the ques

[2020-08-11 21:07] coderforlife commented on #171
I have written a version of `filtfilt` using cupy and my `lfilter` that is semi-parallelized (about half of it is completely parallelized but the other half is only parallelized over individual signals and not samples). For `lfilter` I found that if there is a large number of samples you need several signals to parallelize over to make it competitive with scipy (in the specific example, it needed

[2020-08-12 18:03] boonedoggle opened #178 "[BUG] Value Error using cupy with MappedNDArray"
I am seeing an error when I try to copy a cupy array to a shared memory array in cuSignal. I am using a Jetson TX2.

This works
[code]

This does not work

[code]

The error I receive is:
[code]

Note that `cusignal.get_shared_mem` is a wrapper to `numba.cuda.mapped_array()`

[2020-08-12 21:27] JasonAtNvidia commented on #141
@jakirkham  https://github.com/AnacondaRecipes/cudatoolkit-feedstock/pull/10

[2020-08-12 21:55] jakirkham commented on #141
Thanks Jason! 😄

[2020-08-13 03:12] aaronpearlman commented on #171
Hey @coderforlife, this sounds like really nice work! Are your versions of `filtfilt` or `lfilter` in a public repository somewhere that I can fork?

I'd also be interesting in trying out those speed improvements as well, once you have a chance to implement them!

[2020-08-14 03:53] coderforlife commented on #171
I just posted it to a gist: https://gist.github.com/coderforlife/17bf471a519a7d092e82f95f10e8f6e4

It isn't well-organized at the moment and also it requires https://github.com/coderforlife/cupy/tree/signaltools or you have to wait until https://github.com/cupy/cupy/pull/3748 is merged into cupy/master.

[2020-08-17 12:27] mnicely opened #183 "cuSignal 0.15 Performance Comparison"
Display performance number on V100 comparing cuSignal 0.14 and cusignal 0.15, using pytest benchmarks.

[2020-08-17 17:04] mnicely commented on #183
## Comparison
cuSignal 0.15 is tagged with *0001_0.15_cu*
cuSignal 0.14 is tagged with *0002_0.14_cu*

Due to a change in 0.15, tests are now prefixed with _test_ versus _bench_, in 0.14.

Also, 0.15 doesn't use Numba any longer. Therefore, in 0.14 result **False** means **no Numba**.

### Doc
[cusignal_0-14_0-15_comparison.txt](https://github.com/rapidsai/cusignal/files/5085733/cusignal_0-14_0-15

[2020-08-18 12:34] mnicely opened #184 "[BUG] Add Device to CuPy cuFFT calls"
### Info
It looks like https://github.com/cupy/cupy/pull/3730 has changed the API in CuPy v8. That is breaking our tests.

[code]

[2020-08-18 13:31] leofang commented on #184
All of the arguments needed to create a `Plan1d` should be filled in automatically, and users should not notice it. How was the CuPy v8 built? Which CUDA version?

[2020-08-18 13:33] mnicely commented on #184
Let me ask the question, "How should I build it"?

If I want to use CUDA 11 as well. Or should I still be using CUDA 10.2

[2020-08-18 13:45] leofang commented on #184
I think if built from the master branch, CUDA 11 support should be OK to use now, but be aware that C2R transforms are changed in CUDA 11 such that the input arrays will be destroyed (https://github.com/cupy/cupy/issues/3770). CUDA 10.x definitely works fine.

I asked because I wasn't sure if you
1. cloned master, applied patch from cupy/cupy#3730, and tested, or
2. cloned my branch from from cupy

[2020-08-18 14:36] awthomp commented on #183
Hey @mnicely -- could you provide a bit more guidance on what we're looking at here? :)

[2020-08-18 20:40] mnicely commented on #184
Fixed by installing CuPy

[code]

[2020-08-18 20:40] #184 closed

[2020-08-19 13:57] datametrician commented on #183
Also could you elaborate on how you no longer use numba?

[2020-08-19 14:02] awthomp commented on #183
@datametrician -- Numba is still used, especially to access shared memory. We still highly encourage its use for custom CUDA kernels as well. However, we realized that we could get a sizable speedup over Numba CUDA with raw CuPy CUDA modules. Here, we're basically writing raw CUDA code and wrapping it in Python. We can also make use of CuPy's template functionality and ability to cache and load pr

[2020-08-19 14:58] mnicely commented on #183
@awthomp I edited my original comment above with more details. Let me know if there's still more information that needs to be added.

@datametrician We discovered that while Numba was a fantastic way to get off the ground, it wasn't as optimal as a CuPy Raw Kernel (CUDA C++). Especially, if data types weren't double complex. I'm presenting at GTC Fall on the techniques we used to go from SciPy ->

[2020-08-19 15:01] datametrician commented on #183
This makes sense. @awthomp I think this will change how we market cuSignal though. Initially, it was a non-compiled library (just CuPy + Numba), but now it seems for max perf we're going deeper into CUDA (at the cost of more engineering time). Is that a far statement?

[2020-08-19 15:39] awthomp commented on #183
It is! But I still go back to my talk track at SciPy '20:
![image](https://user-images.githubusercontent.com/34922235/90656244-4c8ec300-e210-11ea-8b03-733cb46f22ae.png)

For developers looking to build GPU apps in Python, we recommend drop in replacements. For more perf and customization: Numba. For extreme speed, when needed: raw CUDA. They all build on each other!

Also: cuSignal still doesn't h

[2020-08-29 10:04] mnicely opened #197 "[FEA] Added Ampere support"
In order to add Ampere support we need to add support for CUDA 11 and CC 8.0

[2020-08-29 10:08] mnicely opened #198 "[FEA] Use CMake to compile CUDA"
Currently, to compile CUDA kernel in *.cu files everything is in `.build.sh`.

This is a sloppy way of doing things because it requires compiling fatbins locally and uploading them to GH.

A much better approach would be to add the compile of kernels to the build process using CMake.

[2020-08-31 15:11] mnicely commented on #198
@rlratzel @ajschmidt8 @BradReesWork
I know I discussed this with y'all in the past. Can you point me to a good PoC?

[2020-08-31 15:21] ajschmidt8 commented on #198
I'm gonna have to defer to the others on this one. I know very little about CMake.

[2020-08-31 17:58] awthomp commented on #178
@boonedoggle Could you please try the following:

[code]

[2020-09-02 18:23] #142 closed

[2020-09-02 18:58] mnicely commented on #100
This can't be combined with `*.cu` files due to C++ name mangling.
It is only useful when using CuPy raw modules  (Kalman Filter)

[2020-09-02 18:58] #100 closed

[2020-09-02 19:24] #198 closed

[2020-09-03 15:01] mnicely opened #204 "[FEA] Add CUDA 10.1(2) functionality to polyphase channelizer"
Rapids requests functionality packages be functionality with CUDA 10.1, 10.2, and 11.0.

This means functionality for `if constexpr` and `cooperative_groups::reduce` must be added with CUDA 10.X builds.

[2020-09-03 15:37] mnicely opened #205 "[FEA] Add Kalman Filter compatibility with CuPy 7.X"
Currently, the Kalman Filter function requires CuPy 8 because of templating.

Compatibility with CuPy 7.X can be added by eliminating the templating requirement, at the expense of performance.

[2020-09-03 15:45] mnicely opened #206 "[FEA] Add missing tests for various functions"
We need to add test/benchmarks for various functions:

List:
1. test_acoustics
a. rceps
b. cceps_unwrap
c. cceps
2. test_bsplines
a. gauss_spline
b. cubic
c. quadratic
d. cspline1d
3. test_filter_design
a. kaiser_beta
b. kaiser_atten
c. cmplx_sort
4. test_filtering
a. lfiltic
b. detrend
c. freq_shift
d. channelizer
5. test_peak_finding
a. argrelmin
b. argrelmax
c.argrelextrema
6. test_spectral_ana

[2020-09-04 16:29] #204 closed

[2020-09-04 16:30] #205 closed

[2020-09-08 16:51] #197 closed

[2020-09-13 02:53] evanmayer opened #217 "[BUG] channelize_poly() CUDA_ERROR_FILE_NOT_FOUND after Jetson conda install (0.16)"
**Describe the bug**
`channelize_poly()` function is not finding `cusignal/filtering/_channelizer.fatbin` on Jetson Nano.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
channelize_poly returns channelized output.

**Environment details (please complete the following information):**
 - Environment location: [**Jetson Nano SBC**]
 - Method of cuSignal install: [**conda**] Following t

[2020-09-13 13:17] mnicely commented on #217
If you are running the pytest suite, yes you will need to build from source. This pytest implementation test the local directory.

But I you downloaded it from the nightly and are having issues, then there’s another issue.

How did you install cuSignal?

[2020-09-13 13:21] mnicely commented on #217
@evanmayer can you tell me if you see any fat one in the following directory?

/home/evanmayer/miniforge3/envs/cusignal-dev/lib/python3.8/site-packages/cusignal-0.16.0a0+160.g67a650e-py3.8.egg/cusignal/filtering/

[2020-09-13 15:20] evanmayer commented on #217
Sorry, I wasn’t specific enough. This is a clone of the current repo. Updated bug description.

I have `_sosfilt.fatbin` and `_upfirdn.fatbin`.

[2020-09-13 17:00] mnicely commented on #217
Thanks @evanmayer. Because you are cloning the GH repo, you _have_ to build! :smile:

So the issue is technically that the other fatbins are there and they're **not** supposed to be.

In the case of a conda download, fatbins **should** exist because the cuSignal is prebuilt.

[2020-09-13 17:18] mnicely commented on #217
@evanmayer @awthomp
Another update!
I was looking back at the docs and realized `python setup.py install` is no longer valid when building from source.
This because fatbins must be built before `python setup.py install`; therefore `./build.sh` must be executed because it builds fatbins then installs cuSignal.

[2020-09-13 17:34] mnicely commented on #217
Documentation will be updated with https://github.com/rapidsai/cusignal/pull/216

[2020-09-13 17:36] evanmayer commented on #217
Awesome work! Built and running tests now, but it sounds like this is resolved. Thank you!

[2020-09-13 17:45] mnicely commented on #217
Fantastic!

We are excited to hear any input you may have! Especially for the channelizer 😁

[2020-09-14 01:09] #217 closed

[2020-09-17 03:40] z-ryan1 opened #220 "[BUG] Synchronization issue with cusignal testing"
**Describe the bug**
While working with @mnicely on #219, found that for the kaiser_beta test requires synchronization in order to get desired benchmark results and metrics.

**Steps/Code to reproduce bug**
To see the original issue, without synchronization I am using the below code block as the KaiserBeta test.

[code]

In order to avoid the
[code]
Both scenarios can be run using
[code]
**Expecte

[2020-09-20 16:43] mnicely opened #223 "[FEA] Reevaluate Wavelets module for performance improvements"
The wavelets module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:44] mnicely opened #224 "[FEA] Reevaluate Waveforms module for performance improvements"
The waveforms module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:46] mnicely opened #225 "[FEA] Reevaluate Spectral Analysis module for performance improvements"
The Spectral Analysis module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:47] mnicely opened #226 "[FEA] Reevaluate Peak Finding module for performance improvements"
The Peak Finding module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:47] mnicely opened #227 "[FEA] Reevaluate Filters module for performance improvements"
The Filters module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:48] mnicely opened #228 "[FEA] Reevaluate Filtering module for performance improvements"
The Filtering module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:49] mnicely opened #229 "[FEA] Reevaluate Filter Design module for performance improvements"
The Filter Design module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:49] mnicely opened #230 "[FEA] Reevaluate Convolution module for performance improvements"
The convolution module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:50] mnicely opened #231 "[FEA] Reevaluate Bsplines module for performance improvements"
The Bsplines module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:50] mnicely opened #232 "[FEA] Reevaluate Acoustics module for performance improvements"
The Acoustics module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 16:50] mnicely opened #233 "[FEA] Reevaluate Windows module for performance improvements"
The windows module need to be reevaluated to find areas of further performance improvements.

[2020-09-20 18:41] mrava87 opened #234 "[BUG] fftconvolve error when specifying axes"
**Describe the bug**
I experience the following error when using `cusignal.convolution.fftconvolve`  with cupy arrays in place of `scipy.signal.fftconvolve` with numpy arrays:
[code]
The error originates when setting the `axes` input parameter to apply convolution over only one or a set of axes. Seems to work fine when leaving it empty (and so applying the convolution over all the axes)

**Steps/C

[2020-09-20 19:34] awthomp commented on #234
Thanks for using cusignal and filing a bug report, @mrava87. I've confirmed this bug, and we'll prioritize fixing it in release 0.16.

[2020-09-21 16:24] #220 closed

[2020-09-22 17:03] mnicely commented on #234
This should be fixed with #235

[2020-09-22 18:25] mrava87 commented on #234
Sure, I use colab, so never built from source but I can give it a try :) Shall I justinstall from the `mnicely:update_wavelets` branch right?

[2020-09-22 18:57] mnicely commented on #234
Yes, you should be able to clone and checkout my branch.
Then build from source.

[2020-09-22 23:21] #223 closed

[2020-09-22 23:21] #234 closed

[2020-09-23 10:07] mrava87 commented on #234
Didn't manage on colab but tried on my other machine and it works fine :) thanks for the quick action!

[2020-09-24 16:24] awthomp commented on #224
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:24] awthomp commented on #233
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:24] awthomp commented on #232
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #231
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #230
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #229
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #228
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #227
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:25] awthomp commented on #226
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:26] awthomp commented on #225
Note: This includes similar investigations as explored in https://github.com/rapidsai/cusignal/pull/235. Developers should be examining:

- Use of numpy over cupy for small-scale calculations like overlap size, FFT size, and other generic parameters that don't require GPU compute
- Elementwise kernels, where appropriate (either raw cupy, as denoted in the above PR, or Numba)
- Caching of FFT plans

[2020-09-24 16:28] mnicely commented on #225
Note: For this one, it looks like the bulk of the work will be in `_fft_helper()` and `_spectral_helper`

[2020-09-24 16:50] z-ryan1 opened #238 "[BUG] Peak finding doesn't support mode parameter"
**Describe the bug**
The current implementation of `peak_finding` mimics the `scipy.signal` functions with the parameter `mode='wrap'`, which is not the default mode setting for `scipy.signal`.

**Steps/Code to reproduce bug**
Follow examples given in scipy [documentation](https://docs.scipy.org/doc/scipy/reference/generated/scipy.signal.argrelmin.html) which is the same example given in cusignal

[2020-09-25 02:05] #238 closed

[2020-09-25 16:36] z-ryan1 opened #240 "[FEA] Add inverse_complex_cepstrum and minimum_phase to acoustics module"
The cusignal acoustics module needs `inverse_complex_cepstrum` and `minimum_phase` which are both functions in the [python-acoustics](https://github.com/python-acoustics/python-acoustics/blob/master/acoustics/cepstrum.py).

[2020-09-29 13:56] mnicely opened #244 "[BUG] Reduce number of architectures in build process"
Match architectures used in RapidsAI default build process.

Change minimum build architecture from 3.5 to 6.0.

[2020-09-30 13:13] #244 closed

[2020-09-30 13:17] awthomp opened #247 "[FEA] Improve cuSignal Integration with SoapySDR"
SoapSDR is a vendor agnostic software defined radio library used for direct control of the radio. Since Soapy's use is widespread in the SDR community, cuSignal should have better integration and documentation centered on online-signal processing. We've addressed this a bit with our `sdr` notebooks, but could use a bit of a refresh.

To-do:

- [ ] Update install documentation to walk a user throug

[2020-10-01 14:26] #206 closed

[2020-10-01 19:41] mnicely opened #251 "cuSignal 0.16 Performance Comparison"
Display performance number on V100 comparing cuSignal 0.15 and cusignal 0.16, using pytest benchmarks.

## Info
Below we are comparing the performance, on a V100, of cuSignal function between v0.15 and v0.16 (as it stands today). The complete comparison is provided in a text file below. While an excerpt of the upfirdn function is provided at the bottom of the comment.

### How to read?
From cuSign

[2020-10-02 01:25] #231 closed

[2020-10-02 14:37] #183 closed

[2020-10-04 11:03] rembulan opened #252 "[FEA] is that possible to use cuSignal for lowering CPU resource need in 4G or 5G processing"
The 4G or 5G SDR based always need very high demand for CPU resources even the latest CPU processor struggle tp provide low latency required in the process maybe cuSignal can help to lowering the CPU requirement.

[2020-10-04 22:46] mnicely opened #253 "[BUG] Fix FFT cache w/ CuPy v8"
After working on something for @awthomp, I discovered that internal FFT cache plan in CuPy v8 is more performant than the cuSignal's internal. But cuSignal's internal one is better with CuPy v7, which doesn't have a FFT cache.

[2020-10-04 23:07] leofang commented on #253
Was waiting for your tests, Matt! Thanks a lot for confirming its performance for me 🙏 Very glad to know it helped. Do you happen to keep some performance numbers that you can share with me?

[2020-10-04 23:27] mnicely commented on #253
Oh goodness, I didn’t realize I was keeping you waiting! I’ve add a few numbers to the PR. Let me know if you would like more!

[2020-10-05 01:06] leofang commented on #253
Haha no worries. I figured that you'll try it out and report back at some point 😁

[2020-10-05 12:47] #253 closed

[2020-10-05 13:58] awthomp commented on #252
Hi @rembulan -- Thanks for filing the issue to cuSignal! Could you be a bit more specific about what functions you'd like to see incorporated?

[2020-10-07 16:57] randompast opened #258 "[FEA] Are there plans to implement higher order convolutions?"
Are there plans to implement higher order convolutions?  I want to calculate a volterra series: https://en.wikipedia.org/wiki/Volterra_series

I've been writing, collecting, and benchmarking convolution implementations (https://github.com/randompast/python-convolution-comparisons).  Here's a demonstration of a use case with numba.cuda: https://numba.discourse.group/t/cuda-jit-higher-order-convolut

[2020-10-07 19:40] awthomp commented on #258
Thanks for the feature request @randompast! I'm not super familiar with high order convolutions or the problems they're particularly suited to solve, but it seems like you've done some work implementing these in numba.cuda, and I'd totally merge a PR if you're keen on contributing. @mnicely could lend some cycles in terms of optimization help, as well.

[2020-10-07 19:49] randompast commented on #258
Hey Adam, thanks!  I think my simulation is particularly slow and not yet suitable for merging.  I'm trying to speed it up.  On that note, maybe it makes sense for me to take a look at the existing cuSignal.convolve code and alter that.  I'll try doing that this week and see what I can come up with to see if a PR would work.  Thanks for the encouragement!

As for the intuition/application of convo

[2020-10-08 12:40] awthomp commented on #258
Sure! You can also take a look at `cusignal.convolve2d` (@mnicely can provide a bit more info if you have questions). One option is for you to create a Work In Progress PR, allow us to write to your branch, and we can try to work on the higher order convolutions together. Even if we ultimately decide not to merge, I do think that we may be able to get your code running quicker.

@mnicely -- what d

[2020-10-08 12:42] mnicely commented on #258
That is a good start! When you say higher dimensions, do you have a particular dimension in mind? Or do you mean 3D, 4D, 5D, ... and so forth.

[2020-10-08 14:55] randompast commented on #258
@mnicely Hey, thanks.  There's an important distinction to make here: Dimension and order are related but not equivalent in this context.  So, I'm looking for higher orders, not dimensions, and just up to ~3rd order would likely be sufficient for me.  Second order uses pairs of signal frames and those frames depend on the dimensionality.  A 2nd order filter on a 1D signal (ex: audio) would be a ma

[2020-10-08 20:39] jrc-exp commented on #217
Following-up on this issue - if we're building from source in a Docker container, build.sh doesn't seem to work because it's expecting nvidia-smi to be present which isn't there during the build stage:

Cloning into 'cusignal'...
Building for the architecture of the GPU in the system...
build.sh: line 130: nvidia-smi: command not found
Building Convolution kernels...
Building Filtering kernels...

[2020-10-08 20:49] mnicely commented on #217
Interesting... which docker image are you using?

[2020-10-08 20:51] jrc-exp commented on #217
I think there were two issues:

I didn't pass in --gpuallarch so it tried to use nvidia-smi which it couldn't.

`REPODIR=$(cd $(dirname $0); pwd)`

This read in $0, but you do `source build.sh` $0 is `source` and so it resolves REPODIR to /bin.

[2020-10-08 20:54] jrc-exp commented on #217
Switching to:

`RUN git clone https://github.com/rapidsai/cusignal && cd cusignal && ./build.sh --allgpuarch`

Solved it.

[2020-10-08 20:57] mnicely commented on #217
So that parameter passed to `build.sh` will compile code for all valid architectures. Which is fine but if you have the CUDA toolkit to build, you should have `nvidia-smi` to determine devices in the system.

[2020-10-08 21:08] jrc-exp commented on #217
Yeah it looks like you are correct:

Dockerfile
[code]

Then during build:

[code]

And testing:

[code]

It raises the `./build.sh: line 130: nvidia-smi: command not found` error, but it looks like it works anyways.

[2020-10-08 21:15] mnicely commented on #217
1. I'm testing locally with that docker image to see if I can figure out what's going on with `nvidia-smi`
2. The reason why it still works is that if no GPU_ARCHS is set, which is the case here, `nvcc` defaults to lower PTX in the toolkit. Which I believe is 3.X. Then at runtime, the PTX is compiled to SASS. That being said, while cuSignal works, that performance may not be optimal.

[2020-10-08 21:16] mnicely commented on #217
Question, what hardware are you running on?

[2020-10-08 21:37] jrc-exp commented on #217
It's a Supermicro ~DGX-1 equivalent with 8xV100:

[code]

Running Docker version 19.03.5, build 633a0ea838

[2020-10-08 22:28] mnicely commented on #217
@jrc-exp I just submitted a PR #264  to fix this issue you're seeing. I've tested it on my system.

When the PR closes, do you mind testing? You should see the following
1. Faster build time
2. Possibly faster execution

[2020-10-09 00:28] jrc-exp commented on #217
@mnicely I went ahead and pulled your branch just to test it while I'm on the topic, and it looks like that change works. I don't have a comparison for actual execution speed before/after, but looks good to me.

Thanks for the quick response!

[2020-10-09 13:17] #14 closed

[2020-10-12 21:20] pseudotensor opened #268 "[FEA] Allow pytests to be run if have only binary install (used to work for 0.14)"
https://github.com/rapidsai/cusignal/issues/217#issuecomment-691670359

Good to be able to validate install via conda, to ensure actually works.  From this comment, at least from 0.15 and above, the pytest seems not possible.  I hit various errors like those mentioned in the issue above (even though they built from source).  However, for 0.14 there is no such problem and all tests can be run.

Any

[2020-10-13 00:48] awthomp commented on #268
Hi @pseudotensor -- thanks for filing an issue on cuSignal! While troubleshooting your bug from a fresh conda env and install, I noticed that, while pytest-benchmark is disabled if you run `pytest` after cloning the library and installing via conda, you'll get errors as it looks like there's a firm dependency on pytest-benchmark, even if it's not used.

Is this what you're seeing? If you run `cond

[2020-10-13 01:40] pseudotensor commented on #268
I have pytest-benchmark installed.  Here's my conda list and errors:

[list.txt](https://github.com/rapidsai/cusignal/files/5368426/list.txt)

[code]

Just sample of the failures, the errors are all the same.

FYI cudf, rmm, dask-cuda, cuml, etc. all pass (apart from 1 cuml failure).

[2020-10-13 01:47] mnicely commented on #268
Hi @pseudotensor, thanks for taking the time to post the information above. I've just tested 0.14, 0.15, and nightly binaries in a fresh conda environment with not issues. Do mind providing how you installed cuSignal and how you ran pytest?

[2020-10-13 01:50] pseudotensor commented on #268
https://github.com/rapidsai/cuml/issues/2960#issue-719665547

I installed it as shown there.

[code]

[2020-10-13 02:06] mnicely commented on #268
It seems you are running pytest against a local directory. With cuSignal 0.15+ binaries, fatbins are loaded where cusignal is installed.

You'll need to run pytest from the installed directory.
[code]

[2020-10-13 02:16] pseudotensor commented on #268
Thanks, tried that and still happens:

[code]
[code]

[2020-10-13 02:23] pseudotensor commented on #268
Ah, but you also specified no test path, I see you have test in the site-packages/cusignal.

Ok, now that works.  Thanks!

`794 passed, 88 warnings in 286.41s (0:04:46)`

[2020-10-13 02:23] #268 closed

[2020-10-13 02:24] mnicely commented on #268
I’m confused. In your other issue, it shows you install cuSignal=0.15.

But the error above show the peak finding functions looking for CUDA, which were just released in 0.16. What version are you testing.

Can you see if fatbins are in the module directories??

[2020-10-13 02:35] pseudotensor commented on #268
Ah, you are right, the cusignal branch for the repo was branch-0.16.

It works if I switch the repo to branch-0.15, so I guess things do work even with the test directory. I must have missed/skipped changing the branch.  Sorry for that!

I think I saw the issue online and just assumed it was related to the comment I reference.

[code]

[2020-10-13 17:10] awthomp commented on #252
Closing due to inactivity. Please feel free to re-open!

[2020-10-13 17:10] #252 closed

[2020-10-13 17:10] #15 closed

[2020-10-13 17:11] awthomp commented on #131
@mnicely -- What do you think about getting @z-ryan1 involved here?

[2020-10-13 17:14] awthomp commented on #178
Users experiencing this issue should leverage cupy generated `get_shared_mem` (i.e. `dtype=cp.float32` rather than `dtype=np.float32` in this case) via the following commands:

[code]

The `numba.cuda` prefix isn't needed if the dtype is `np.float32`, and the code matches that given on the main README.

[2020-10-13 17:14] #178 closed

[2020-10-16 16:23] mnicely commented on #226
Closed by #267

[2020-10-16 16:23] #226 closed

[2020-10-16 16:24] mnicely commented on #233
Closed by #267

[2020-10-16 16:24] #233 closed

[2020-10-16 16:24] mnicely commented on #224
Closed by #267

[2020-10-16 16:24] #224 closed

[2020-10-16 16:25] #240 closed

[2020-10-16 17:08] mnicely commented on #232
This could possibly be sped up with https://github.com/cupy/cupy/issues/4105

[2020-10-16 17:08] mnicely commented on #228
This could possibly be sped up with https://github.com/cupy/cupy/issues/4105

[2020-10-16 17:08] mnicely commented on #225
This could possibly be sped up with https://github.com/cupy/cupy/issues/4105

[2020-10-16 17:09] mnicely commented on #230
This could possibly be sped up with https://github.com/cupy/cupy/issues/4105

[2020-10-19 05:03] randompast commented on #258
Forked, branched (convolve_1d_2o3o), pushed, submitted pull request.

Only 'valid' implemented.  Only tested for square and cubic kernels.  Needed: tests, verification/validation, benchmarks, optimizations.

Here's a test that shows some basic timing and output.  On the second run, the new cs.convolve1d2o is ~2x faster than naive njit and ~10x faster than naive cuda.jit.  Similarly the new cs.conv

[2020-10-19 06:21] randompast commented on #258
Possible further development:
1. 3D, first and second order (signal(t,x,y) * filter(t,x,y), signal(t1,x1,y1) * filter(t2,x2,y2) * filter(t1,x1,y1,t2,x2,y2))
2. Include only 1 permutation (ij but not ji)
3. Include njitted version as cpu fallback.
4. Generalize so that there's not as much repetition.
5. Possibly include volterra as f(x,k): convolve(x,k[1], 'valid') + convolve1d2o(x,k[2]) + convolve

[2020-10-22 02:05] randompast commented on #258
(another sanity check with a mini benchmark)[https://gist.github.com/randompast/73b23a7d2560305be8bddb3a2b9f3a53]

[2020-10-27 00:48] AashinShazar commented on #171
Sorry to comment on a dated post but has `lfilter` functionality been implemented yet in cusignal? I noticed some of the issues regarding that question have been closed out.

[2020-10-27 02:39] awthomp commented on #171
Hi @AashinShazar -- thanks for your question! We haven't implemented `lfilter` in cuSignal. Well, in reality we *did* implement it but depreciated our version as the real-life performance wasn't as good as we anticipated. Unfortunately, the DF-II technique has a data dependency that makes an algorithmically parallel version challenging. We do support FIR based filtering, and I strongly recommend u

[2020-10-27 19:21] snethej opened #276 "[QST] How to use `get_pinned_mem` for a 1D input data array"
**What is your question?**
Using v0.16.0, I am trying to use get_pinned_mem() from arraytools.py and if I use an int (e.g., 32768) for the shape, I get the following error:

<pre>Traceback (most recent call last):
  File &quot;./pinned.py&quot;, line 7, in &lt;module&gt;
    buff = cusignal.utils.arraytools.get_pinned_mem(32768, dtype=np.float32)
  File &quot;/home/grdcs/.conda/envs/cusignal/lib/p

[2020-10-29 13:45] awthomp commented on #276
Hi @snethej. Welcome to cuSignal, and thanks for the question!

I took a look at your script, and you can successfully allocate this pinned memory buffer by:

[code]

This isn't totally clear from the documentation, and we'll be sure to fix it in a future release.

[2020-10-29 20:46] drabastomek opened #279 "[BUG] Error reading SigMf formatted file"
**Describe the bug**
Error reading SigMf formatted file from a folder located `..` from where the code is executed. This is due to the way the `.sigmf-meta` file is constructed if `meta_file` parameter is not specified.

**Steps/Code to reproduce bug**
Minimal example

[code]

Full stack:

[code]

**Expected behavior**
SigMf formatted signal data is read properly.

**Environment details (please co

[2020-11-12 20:12] leyojoseph opened #284 "[BUG] cuSignal throws `RawModule` Error with CuPy 6.0 on Windows OS"
Hello,
**I have Nvidia Tesla K40  in my HP Z440 PC as shown below==>**
import numba.cuda

numba.cuda.detect()
Found 2 CUDA devices
id 0           b'Tesla K40c'                              [SUPPORTED]
                      compute capability: 3.5
                           pci device id: 0
                              pci bus id: 3
id 1          b'Quadro K620'                              [SUPPOR

[2020-11-12 20:16] awthomp commented on #284
Hi @leyojoseph! Thanks for submitting an issue.

I see you're currently at CuPy version 6.0. If you update this to 8.0 or newer, this error will go away. A couple ways to do this:

1. Within your conda environment, run `conda update -c conda-forge cupy`
2. Pull the latest stable or nightly cusignal conda package

Stable: `conda create -n cusignal-stable -c rapidsai -c nvidia -c conda-forge \
    -

[2020-11-12 20:35] leyojoseph commented on #284
Thanks for the quick response.
**conda update -c conda-forge cupy went thru...but conda list is still showing version 6.0..**
**The other two commands are giving me below errors. Sorry, if my questions doesn't make sense. I a HW engineer doing power amplifier design. Using the python code  to do digital pre-distortion measurements.**

(base) PS C:\Windows\system32> conda create -n cusignal-stable

[2020-11-12 20:41] awthomp commented on #284
OOOOOH! You're on Windows.

We've only worked on experimental Windows support, and I'm not sure what the latest CuPy version that's built for that OS is. I'm curious: if you run `conda install -c conda-forge cupy` in a vanilla environment, what version of CuPy is installed?

If we can get 8.0 to install on Windows, the cuSignal installation should be relatively straightforward from there.

[2020-11-12 21:01] leofang commented on #284
In your conda env, you could try first uninstalling cupy, and then install it from PyPi using
[code]
and see if it works for you or not. Usually if you already have CUDA Toolkit installed locally, the pip version can play nicely with the rest of conda packages.

[2020-11-12 21:11] leyojoseph commented on #284
Thanks
**I tried  and after this, I am getting below==>**
PS C:\Windows\system32\cusignal> pip list
Package      Version
------------ --------------------
cupy-cuda110 8.1.0
cusignal     0.17.0a0+29.ga3e5293
fastrlock    0.5
llvmlite     0.35.0rc2
numba        0.52.0rc2
numpy        1.19.4
pip          20.2.4
setuptools   50.3.2

PS C:\Windows\system32\cusignal> conda list
# packages in environmen

[2020-11-12 21:17] leofang commented on #284
Could you try a fresh conda env and see if the problem persists or not? Your package lists look confusing to me -- I saw two cupy installs and two cusignal installs.

[2020-11-12 21:22] awthomp commented on #284
Thanks for helping, @leofang!

@leyojoseph -- when you've successfully installed cupy 8, follow the Windows build instructions here: https://github.com/rapidsai/cusignal#source-windows-os-experimental

You'll basically just need to run `./build.sh` to compile/build cuSignal from source.

We might have some issues with the custom CUDA kernels compiling. CC @mnicely

@evanmayer has successfully buil

[2020-11-13 02:04] leyojoseph commented on #284
**I uninstalled everything a start from scratch.
When I try cupy related code, getting below error message==>**

CuPy is not correctly installed.

If you are using wheel distribution (cupy-cudaXX), make sure that the version of CuPy you installed matches with the version of CUDA on your host.
Also, confirm that only one CuPy package is installed:
  $ pip freeze

If you are building CuPy from sourc

[2020-11-13 03:37] leofang commented on #284
For CuPy installation, I saw @leyojoseph has opened an issue in CuPy (cupy/cupy#4279). Let's move the discussion there, and come back with a working CuPy installation to resolve cuSignal installation issues (if any).

[2020-11-13 23:57] evanmayer commented on #284
Looks like we might be on the verge of having Cupy sorted.

These instructions should work now.

[2020-11-14 00:09] leyojoseph commented on #284
Hello ,
I have the cusignal folder in my c:\drive. How to execute the ./build.sh to install cusignal on windows 10?
Appreciate your help.

[2020-11-14 00:15] evanmayer commented on #284
D’oh! @awthomp @leofang how are Windows users going to build from source? Is it necessary? When I tried this last, I do not remember a `build.sh` and I did not have to build from source, but a lot has changed since January.

[2020-11-14 00:33] awthomp commented on #284
Oh shoot, you're right. We changes the `python setup.py install` command to `./build.sh` in part to support pre-built CUDA kernels.

@mnicely -- any intuition on what will fail here on a Windows build?

I'm going to try to find some time to work this over the weekend/early next week. Need to find a Windows testing rig :). @evanmayer -- mind running `python setup.py install` and see what breaks?

[2020-11-14 00:37] evanmayer commented on #284
I’ll have to make my next GPU upgrade to this rig an NVIDIA card so I don’t have to keep swapping over to my old GTX960.

I can do the swap this weekend and try a fresh cusignal install so you’ll have a head start next week. Enjoy your weekend!

[2020-11-14 03:37] evanmayer commented on #284
Dropping some notes here as I go through the install...
* Pulled in changes from github
* Followed [Win install steps](https://github.com/rapidsai/cusignal#source-windows-os-experimental), `python setup.py install` went ok
* Ran pytest
* All tests failed early with ImportError: looks like [one of your previous issues](https://github.com/rapidsai/cusignal/issues/140) - looks like scipy install migh

[2020-11-15 01:46] leyojoseph commented on #284
**As per suggestion from cupy github forum, ran the below code and is working fine.**
import cupy as cp

start = 0
stop = 10
num_samps = int(1e8)

cx = cp.linspace(start, stop, num_samps, endpoint=False)
cy = cp.cos(-cx**2/6.0)
print(cy)

**But the below code gives errors ==>**

import cupy as cp
import cusignal

start = 0
stop = 10
num_samps = int(1e8)
resample_up = 2
resample_down = 3

gx = cp.l

[2020-11-15 04:09] mnicely commented on #284
Is WSL an option? https://docs.microsoft.com/en-us/windows/wsl/about

[2020-11-15 04:32] evanmayer commented on #284
I believe CUDA support is coming in WSL2.

[2020-11-15 04:52] mnicely commented on #284
Okay, I believe I understand the issue, but not sure how to fix it.
The CUDA kernels are supposed to be built at the end of **build.sh**. Well Windows doesn't come with Bash 😞
I'm not sure the best solution...

A hack in the meantime is to run the nvcc commands manually.

[2020-11-15 13:30] awthomp commented on #284
@mnicely -- is there a way to default to JIT'd kernels if, for whatever reason (like Windows OS or maybe unsupported GPU), the `./build.sh` command isn't available or fails with the precompiled kernels?

I do think we need to prioritize Windows OS support. I'm always shocked how much SDR development takes place here :).

[2020-11-16 01:45] leyojoseph commented on #284
Could you please help me understand below even though it is not related to cusignal.
As shown below, I have two "GPU" devices in my PC.
numba.cuda.detect()
Found 2 CUDA devices
id 0           b'Tesla K40c'                              [SUPPORTED]
                      compute capability: 3.5
                           pci device id: 0
                              pci bus id: 3
id 1          b'Qua

[2020-11-16 13:23] awthomp commented on #284
Hi @leyojoseph. GPUs can serve multiple purposes -- as you know: whether it's rendering graphics or performing compute. Further, if you have a single GPU system, it's possible to drive graphics at the same time as compute. The only downside here is that you'll have fewer resources available. Typically, you see setups where one GPU is dedicated for graphics and others are meant for compute. In my w

[2020-11-18 04:07] leyojoseph commented on #284
Please let me know if you figure out a solution for this. As Cusignal is not working, I am using scipy  on cpu for convolve and it dead slow. Appreciate your help.

[2020-11-18 14:00] mnicely commented on #284
@leyojoseph Can you confirm if you tried running the nvcc commands and if they worked or not?

It's easy to extract what you need from the parent **build.sh** (https://github.com/rapidsai/cusignal/blob/branch-0.17/build.sh)

Run from cusignal (parent directory)
[code]

Once you've done that, you can run `python3 setup.py install`. This will copy the fatbins to the cuSignal directory.

[2020-11-18 14:06] awthomp commented on #284
@evanmayer -- Do you mind seeing if the nvcc commands work on your Windows system?

@leyojoseph -- Thanks for being patient with us. This is really about adding Windows support to cuSignal. Out of your issue, I'll submit a PR with more indepth (and working!) instructions concerning how to build cuSignal on Windows.

[2020-11-18 15:05] evanmayer commented on #284
I can try this evening if @leyojoseph doesn’t get to it and report back.

[2020-11-18 18:30] leyojoseph commented on #284
**Hello,
Sorry for the late response... I tried this and getting below error message.**

(base) C:\cusignal>nvcc --fatbin -std=c++11 --generate-code arch=compute_35,code=sm_35 --generate-code arch=compute_50,code=sm_50 cpp/src/convolution/_convolution.cu -odir python/cusignal/convolution/
nvcc warning : The 'compute_35', 'compute_37', 'compute_50', 'sm_35', 'sm_37' and 'sm_50' architectures are de

[2020-11-18 19:02] mnicely commented on #284
Thanks for getting back to us. Two things.
1. The warning suggest you're trying to compile with CUDA 11.X. In that case, use `-std=c++17`
2. The fatal error is because nvcc can't find the host compiler. You need to install, or add to path, Visual Studio (2017/2019 https://stackoverflow.com/questions/8125826/error-compiling-cuda-from-command-prompt)

Unfortunately, I'm not familiar enough with Wind

[2020-11-19 16:46] snethej opened #285 "[QST] Can upfirdn use Shared Memory without a Device to Host Copy?"
**What is your question?**
I am using shared memory (**get_shared_mem**) as source and destination buffers for use with **upfirdn()**.  When I profile it, I am seeing a DtoH copy.

![Screenshot from 2020-11-19 10-32-39](https://user-images.githubusercontent.com/19215173/99695375-1d782f80-2a53-11eb-8cc4-9b952ec965b5.png)

I assume that it is because I have to use a **cp.asnumpy()** to assign the ou

[2020-11-19 19:58] awthomp commented on #285
Thanks for the question, @snethej. This is quasi related to https://github.com/rapidsai/cusignal/issues/76 where we learned that despite having a zero-copy input memory buffer, internal memory usage and output results typically don't keep that context. @mnicely wrote the fatbin kernel for this function, so it'll be good to see if he has any suggestions. Ultimately, this is something we'd like addr

[2020-11-19 20:22] snethej commented on #285
Ah!  I did not put those two together.  That makes sense.  I suppose my question is answered.

Thanks!

[2020-11-19 20:23] awthomp commented on #285
I'll keep this issue opened, for the time being. I'd like Matt's input too -- and, hopefully, we can start planning towards expanding functionality here.

[2020-11-19 20:32] mnicely commented on #285
@snethej You have ran into a limitation of the API.

There are two near term fixes
1. cuSignal determines if the inputs are pinned-mapped arrays and creates a pinned-mapped array output. :-1:
2. The user creates a pinned-mapped output and pass to the functions. (Better function performance) :+1:

Long-term I'd like to move from Numba pinned-mapped construct to CuPy's memory block construct.
The us

[2020-12-07 00:32] evanmayer commented on #284
## Recap
GTX 760 (compute capability 3), CUDA Toolkit v10.1, VS2019.

Spin up a new conda env to test install:
[code]

## nvcc Build
After reinstalling Visual Studio to get cl.exe, and I ran `F:\VisualStudio\VC\Auxiliary\Build\vcvarsx86_amd64.bat` to set up the environment with paths to the C++ compiler. You would choose the appropriate setup script for your host architecture and Visual Studio ins

[2020-12-07 00:37] evanmayer commented on #284
## Testing

[code]

<details>
<summary> PyTest output: </summary>

[code]

</details>

So, fail.

It probably is possible to build using `nvcc`. I can't say for sure, `pytest` still looks to be failing because the GTX 760 isn't supported by Cupy. I don't see a hardware upgrade in the near future unless I can get my hands on a 30 series card.

Pass/fail also doesn't depend on nvcc compiler options

[2020-12-10 12:03] RFNOD opened #293 "Use of gr-osmosdr with cuSignal[QST]"
**What is your question?**

Is it possible to use gr-osmosdr with cuSignal? or is it limited to just SoapySDR because it uses python? I am curious and this is bit out of the box. Thanks!!

[2020-12-10 13:53] awthomp commented on #293
Hi @RFNOD -- Thanks for asking a question!

I've muddled around with cuSignal and gnuradio integration, in general, and have seen some success by building a signal processing workflow in gnuradio-companion, looking at the resulting Python code, and plopping cuSignal into that. From an install side of the house, you can get cuSignal to work nicely with gnuradio (and gr-osmosdr!) in general by creat

[2020-12-12 09:47] huazhixixi opened #295 "[BUG] Resample Poly fails for n-dim arrays > 1 and upsample > 8"
I am using resample_poly to process some data. However, when the up = 8, down = 1, it reports the following error.

<img width="1290" alt="图片" src="https://user-images.githubusercontent.com/59355161/101980611-93159b00-3ca1-11eb-859b-d97503bdfec8.png">

But when the up is lower than 8, the function works well.

The code is as below:
   **new_samples = cusignal.resample_poly(samples,8,1,axis=-1)**
T

[2020-12-12 20:40] RFNOD commented on #293
Thank you @awthomp !!! I will do that!!

[2020-12-12 20:40] #293 closed

[2020-12-14 13:33] awthomp commented on #295
Hi @huazhixixi. Thanks for the report. I've confirmed that this is a bug via the following code:

[code]

It seems the problem is doing a row-wise resample when ndim of the input signal is > 1 and upsample rate is > 8. @mnicely -- This probably has something to do with the block/grid CUDA dimensions???

As a work-around, though, please try the following and transpose the input/output data. This ap

[2020-12-14 13:35] #279 closed

[2020-12-14 13:35] #276 closed

[2020-12-14 13:36] #251 closed

[2020-12-14 13:37] awthomp commented on #258
Closed with merging of @randompast 's PR here: https://github.com/rapidsai/cusignal/pull/270. Thanks for the contribution!

[2020-12-14 13:37] #258 closed

[2020-12-14 13:49] awthomp commented on #284
Thanks for the feedback, @evanmayer !!! Much appreciated! And apologies for the low response and acknowledgement; I totally missed this comment until doing some pre-end-of-year cleaning :).

I should be getting a Windows + GPU machine in the next couple of weeks, and will aim for more mature Windows support in the future for cuSignal.

[2020-12-14 13:49] #232 closed

[2020-12-14 13:50] #230 closed

[2020-12-14 13:50] #229 closed

[2020-12-14 13:50] #228 closed

[2020-12-14 13:50] #227 closed

[2020-12-14 13:51] #225 closed

[2020-12-21 19:45] coderforlife commented on #171
I am back working on this. The previous implementation had the following features:

- All computations involving `b` were parallelized (either with a custom kernel or with a convolution)
- All independent signals were parallelized, but each signal serially performed their computations across `a`/`y`
- `zf`/`zi` usage wasn't completely finished

I am currently working on a [prefix-scan](https://en.

[2021-01-04 18:06] awthomp commented on #171
Thanks for the update, @coderforlife. We're noodling around with some ideas as well and will certainly share best practices and our work as it takes form.

[2021-01-10 05:44] vBaiCai opened #303 "[DOC] Why devide the sum(signal) in the 'cusignal/notebooks/api_guide/convolution_examples.ipynb' ?"
## Report incorrect documentation

**Location of incorrect documentation**
cusignal/notebooks/api_guide/convolution_examples.ipynb
in **convolution section**.

**Describe the problems or issues found in the documentation**

cconv = signal.convolve(sig, win, mode='same') / np.sum(sig)

**Steps taken to verify documentation is incorrect**

**Suggested fix for documentation**

I think, the `np.sum(si

[2021-01-11 07:24] eldaromer opened #304 "[BUG] [Jetson Nano Conda install hangs on installing pip dependencies]"
**Describe the bug**
When creating the conda environment on a Jetson Nano Development kit, the installation proceeds until installing pip dependencies, where it hangs indefinitely.

**Steps/Code to reproduce bug**
Fresh Jetpack install on Jetson Nano board.
Follow instructions for building from source on Jetson Nano exactly.

**Expected behavior**
Expected to install the environment.

**Environmen

[2021-01-11 07:47] eldaromer commented on #304
Upon trying to install the pip packages manually, I found that all of them are installed except for cupy>=8.0.0. When trying to install it manually using the pip binary from the environment, it hangs indefinitely while building the wheel for cupy. This might be the source of the issue, but I'm unsure what to do to build cupy for the aarch64 processor. Here is the line it hangs on:
`Building wheels

[2021-01-11 08:06] znmeb commented on #304
I've got scripts that install `cupy` and `cusignal` successfully on both a Nano and an AGX-Xavier. `cupy` takes a *long* time to install - it is compiling many kernels for the GPU using `cicc`.

On the AGX-Xavier it takes almost 47 minutes to install `cupy`!

[code]

It is probably working - open another terminal on your Nano and do `top` - you should see the `cicc` compiles running. They're singl

[2021-01-11 13:26] awthomp commented on #304
Hi @eldaromer -- thanks for submitting an issue to cuSignal, and thanks for the quick input, @znmeb! I'd like to echo Ed's comments and say that cupy takes a very long time to compile on the Jetson platform, particularly the Nano. I'd recommend retrying the cupy pip install before you go to bed and report back the status. I'm happy to work with the cupy developers to get this working if we uncover

[2021-01-11 13:32] awthomp commented on #303
Hey @vBaiCai -- thanks for the DOC report on cuSignal!

You're totally right: this is supposed to be `np.sum(win)` for the CPU portion and `cp.sum(win)` part. Looks like we have a typo in the CPU section (e.g using `np.sum(sig)` instead of `np.sum(win)`). Would you be willing to submit a PR? I am more than happy to guide you through the process!

[2021-01-11 14:19] vBaiCai commented on #303
Yes, I'm willing to submit a PR.

[2021-01-11 15:13] leofang commented on #304
Hi all, a cupy guru here. Could you please set this env var
[code]
with `XX` being your device's compute capability, and then install cupy. I hope this would make the compilation a lot faster.

[2021-01-11 15:15] awthomp commented on #304
Thanks for the info, Leo! I'll update our documentation to reflect this suggestion too.

[2021-01-11 20:14] #304 closed

[2021-01-11 20:17] leofang commented on #304
@znmeb @eldaromer Let us know if it helps reduce the compilation time.

[2021-01-11 21:28] eldaromer commented on #304
@leofang I have set the environment variable as instructed before with the compute capability set to 53 for the Jetson Nano. I am currently running the cupy install again, and I'm timing how long it takes. I will keep you updated.

Creating a pre built wheel for the Nano as mentioned in a new issue above would be of great utility.

[2021-01-11 22:03] eldaromer commented on #304
Ok, installing of the Nano with the environment variable took ~30 minutes to complete. Maybe that should be added to the build instructions so users know what to expect. Thank you all for the help.

[2021-01-12 00:18] znmeb commented on #304
My current setup compiles for 53 (TX1 and Nano), 62 (TX2) and 72 (AGX Xavier and I assume also Xavier NX). https://developer.nvidia.com/cuda-gpus. That dropped the compile time on the AGX Xavier to 30 minutes from 47. After that, `cusignal` only takes about two minutes.

Given how useful `cupy` is I think a pre-built wheel on `conda-forge` is a great idea. I'd like to see more of RAPIDS.AI migrate

[2021-01-12 02:25] leofang commented on #304
Thank you @znmeb @eldaromer for quick feedbacks. Indeed I've been wanting to build CuPy for ARM (which I assume is for Jetson devices?) on [conda-forge](https://github.com/conda-forge/cupy-feedstock/issues/48). However it's currently blocked by a few needed infrastructure changes, for example [this one](https://github.com/conda-forge/cudatoolkit-feedstock/pull/4). Perhaps you could open an issue o

[2021-01-12 02:34] jakirkham commented on #304
Well the first step would be packaging `cudatoolkit`. There's some initial work in PR ( https://github.com/conda-forge/cudatoolkit-feedstock/pull/4 ) if someone would like to take a crack at it 😉

[2021-01-12 03:09] znmeb commented on #304
I'm trying to push out a release but I can test on a 4 GB Nano and a 16 GB AGX Xavier in my spare time (cringes as my 3090 feels unloved) :-)

arrow-cpp and pyarrow-cuda are on my conda-forge wishlist too, BTW. And POCL.

[2021-01-12 03:17] leofang commented on #304
This is perhaps something I can learn from you guys 🙂 I always imagine I can buy a Jetson device and make it sit and run on my desk, like a Raspberry Pi (which I don't have either). Is it the case? What's the best/cheapest/fastest way to set up a Jetson environment? What's the use case(s) for running cuSingal on Jetsons?

[2021-01-12 03:26] znmeb commented on #304
For now, plunk down the $700 for an AGX Xavier, or the $400 for a Xavier NX. The Nano only has 4 GB of RAM, which I find more of a constraint than the cores or the Maxwell GPU.

My use case is digital audio, but IIRC the original motivation was software-defined radio.

[2021-01-12 03:30] awthomp commented on #304
Yes! @leofang, @znmeb is correct on SDR being the first Jetson use case. We have folks plugging in a ~20 dollar rtlsdr and doing GPU based FM demod, signal and modulation recognition, resampling and display, etc.

As for "how to get started" - you basically install JetPack on the Jetson and you're plopped into an Ubuntu environment.

[2021-01-18 06:31] leofang commented on #304
Thanks for interesting answers, @awthomp @znmeb! $400 is very attracting -- now I don't know if I should get a PS5 or a Xavier first 😂 SDR seems to be a cool thing I never heard of, and I'm glad I asked!

Back to the slow compilation issue, @znmeb @eldaromer it occurs to me that I didn't think too hard on the CPU performance difference. On a normal x86-64 system we always see `thrust` and `cub` be

[2021-01-18 10:19] znmeb commented on #304
@leofang OK - I'm adding `pyarrow` *with CUDA* to the script. When I get that done I'll time the `cupy` on both the AGX-Xavier and the Nano. It looked to me like it was only using one core.

[2021-01-19 22:04] znmeb commented on #304
OK ... here we go!

[nano-cupy.log](https://github.com/rapidsai/cusignal/files/5838784/nano-cupy.log)
[agx-xavier-cupy.log](https://github.com/rapidsai/cusignal/files/5838788/agx-xavier-cupy.log)

I ran both with `CUPY_NUM_BUILD_JOBS` equal ``nproc``, so 4 on the Nano and 8 on the AGX-Xavier. For both,

[code]

The bottom line(s):

Nano: used 1.96 cores out of 4 on average (196%CPU)
[code]

AGX-Xa

[2021-01-26 18:19] #303 closed

[2021-02-12 22:14] eldaromer opened #318 "[QST] Using C code directly"
**What is your question?**
Hi, I'd like to be able to use the C code for the 1D correlation directly instead of through python. I'm a little confused about which functions I should be using and what the inputs are.

Any help in figuring this out would be appreciated, and example code would be even more appreciated.

Thank you

[2021-02-13 00:44] awthomp commented on #318
Hi @eldaromer. Thanks for submitting a question. cuSignal is currently a Python only library, but we've had many requests to build out a proper C/C++ layer for the API. Ideally, adding in this layer would be seamless to the Python user of cuSignal, but if you want to build a workflow in C, you could do so. We're currently scoping the engineering effort to do this and would most likely roll out sup

[2021-02-13 00:44] #318 closed

[2021-02-16 23:39] znmeb commented on #59
Marked rotten? Huh?

I have this working with `conda-forge` in a Conda environment on my Jetsons in <https://github.com/edgyR/edgyR-containers.git> FWIW ... if there's a CI/CD provider I can use for free I'm all ears. :-)

[2021-02-17 00:01] awthomp commented on #59
@znmeb -- yeah, there was a recent CI change that made all older issues without active conversation/PRs 'rotten'. I want to keep this one open. To be honest, I've been working more on the datacenter rather than edge side and will restart the conversation on where we are with Jetson CI/CD with RAPIDS.

[2021-02-17 00:01] awthomp commented on #295
Keeping issue open -- still need to address this bug report.

[2021-02-17 01:45] znmeb commented on #59
TBH my bottleneck can be fixed with pure `arm64` Ubuntu - my builder images are what takes the time and those don't touch the GPU. But the only thing I've been able to find to get those done is paid time on AWS Gravitons, and I'm suspecting one of the builds needs more than 4 GB of RAM.

[2021-02-17 13:15] awthomp commented on #285
I'm going to close this question. As we plan out the future of cuSignal, allowing for finer memory control will be one of the key features we expand.

[2021-02-17 13:15] #285 closed

[2021-02-17 13:16] awthomp commented on #284
@mnicely was able to build cuSignal with CUDA + WSL using the provided GH installation instructions. More information on this process can be found here: https://docs.nvidia.com/cuda/wsl-user-guide/index.html

[2021-02-17 13:16] #284 closed

[2021-02-17 13:17] #171 closed

[2021-02-17 13:18] awthomp commented on #141
Closing issue and tracking https://github.com/rapidsai/cusignal/issues/59

[2021-02-17 13:18] #128 closed

[2021-02-17 13:19] #58 closed

[2021-02-17 13:19] #76 closed

[2021-02-17 13:19] awthomp commented on #131
Will plan for release 0.19

[2021-02-22 21:38] znmeb opened #326 ""build.sh" does not automatically find GPU on a Jetson and compiles for all architectures [BUG]"
**Steps/Code to reproduce bug**
Follow the instructions on this repo's README. When you get to the "build.sh" step, it will do this:

[code]

**Expected behavior**
I expected it to see I was on an AGX-Xavier and only build for that GPU.

**Environment details:**
 - Environment location: AGX Xavier, both on the device itself and in the NGC "ML" container
 - Method of cuSignal install: conda

**Addi

[2021-02-22 21:42] awthomp commented on #326
Thanks for reporting this, @znmeb. I'll take a look over this week. The Jetson Xavier is CC 72, so it should be working.

[2021-02-22 22:44] znmeb commented on #326
Yeah, it works. Since I went ahead and set the environment variable to specify the GPU for the `cupy` build, I figured you could accept the same variable building `cusignal` - leave it up to the user on Jetsons, since it works fine on `x86_64` as is.

[2021-02-23 00:33] awthomp commented on #326
I'm confused. If you follow the build instructions listed on the main README for cuSignal, from source, on a Jetson, `./build.sh` does or doesn't error out? Are you just saying that the build script doesn't recognize the CC 72 and therefore builds for all compute architectures? In other words, cuSignal builds successfully, but the build process is too long?

Thanks!

[2021-02-23 02:18] znmeb commented on #326
Sorry ... I miswrote the bug report. `cusignal` compiles for all GPUs and executes correctly on the Jetson ... it just doesn't detect the GPU so it builds all of the versions.

[2021-02-23 13:03] awthomp commented on #326
Thanks for the clarification! We'll take a look :).

[2021-02-24 13:15] codesteller opened #327 "[FEA]Discrete Wavelet Transform"
**Is your feature request related to a problem? Please describe.**
I wish I could use cuSignal to work on Discrete Wavelet Transforms in a way like I use[ PyWavelets](https://pywavelets.readthedocs.io/en/latest/ref/dwt-discrete-wavelet-transform.html)
`(cA, cD) = pywt.dwt(arr, 'db1',axis=-1)`

**Describe the solution you'd like**
I would like to have a single api to take an array of data and the m

[2021-02-24 16:26] grlee77 commented on #327
Hi @codesteller. It sounds like your use case is primarily for 1D signals?

I am a maintainer at PyWavelets and had worked on a new package for discrete wavelet transforms (and more general, overcomplete framelet transforms such as shearlets, dual-tree wavelets, etc) that have both NumPy and CuPy backends. This was done as a research project and is currently still in a private repository. A few ye

[2021-02-24 18:24] awthomp commented on #327
Hey @grlee77 -- always great hearing your perspective.

I'm completely supportive of having cuSignal be the home for your stripped-down implementations of `dwt`, `idwt`, and others and would even support changes to `upfirdn` to accommodate this added functionality.

That said, if you've been following my GitHub commit history, you can probably guess that I've been spending more time on the 'custom

[2021-03-04 10:58] codesteller commented on #327
@grlee77 Thanks for your inputs and sorry for the delayed response. It is really great to look into your repo. It seems to be a good starting point for me to find a way of implementing this in my current work.
That said, I agree with @awthomp that it will be nice to have these algorithms available in cuSignal. I would gladly work with you and others interested in integrating or implementing these

[2021-03-16 01:38] awthomp commented on #295
Closed with https://github.com/rapidsai/cusignal/pull/335

[2021-03-16 01:38] #295 closed

[2021-03-16 01:38] #131 closed

[2021-03-23 19:34] znmeb opened #341 "[BUG] Linux OOM killer reaps cuSignal process on a Jetson Xavier NX"
**Describe the bug**
When running the `E2E_Example `notebook with cuSignal 0.18.0 on a Jetson Xavier NX (8 GB of RAM), JupyterLab reports a
kernel restart running "Run Periodogram with Flattop Filter over Each Row of Ensemble" on the GPU.

**Steps/Code to reproduce bug**
1. Install cuSignal in a Conda environment as described in the documentation
2. Install JupyterLab in the same environment
3. St

[2021-03-23 19:44] awthomp commented on #341
Hey @znmeb -- Does the notebook work if you just reduce the size of the signal ensemble generated on GPU at the beginning of the notebook?

[2021-03-23 20:50] znmeb commented on #341
I haven't tried that yet - I did that with some other notebooks a few months ago and it worked, so my guess is it will work.

[2021-04-06 19:40] kykc opened #345 "Error in the SOS filter implementation comments"
## Error in the SOS filter implementation comments

**Location of incorrect documentation**
https://github.com/rapidsai/cusignal/blob/branch-0.19/cpp/src/filtering/_sosfilt.cu#L47

**Describe the problems or issues found in the documentation**
[code]
should be
[code]

**Steps taken to verify documentation is incorrect**
SOS filter has 3 numerator coefficients and 3 denominator coefficients

**Sugg

[2021-04-06 20:05] awthomp commented on #345
Hey @kykc -- Thanks for the report. I agree that this is an error in the docs. Would you feel comfortable submitting a PR? I'd be happy to walk you through the process if needed.

[2021-04-08 18:19] awthomp commented on #345
Closed with https://github.com/rapidsai/cusignal/pull/347

[2021-04-08 18:19] #345 closed

[2021-04-18 10:07] apiszcz opened #350 "[QST] KalmanFilter example NameError: name 'dt' is not defined"
In the second notebook cell at https://docs.rapids.ai/api/cusignal/nightly/api.html#kalman-filter I am getting a NameError.

![image](https://user-images.githubusercontent.com/1430861/115141833-6507e500-a00c-11eb-92c7-96f02be34374.png)

[2021-04-18 10:27] apiszcz commented on #350
I'm replacing dt with cp.float64.

[2021-04-18 10:29] apiszcz opened #351 "[QST] KalmanFilter example: NameError: name 'dim_x' is not defined"
Cell 5 of the documentation uses and undefined dim_x variable.

[code]

[2021-04-18 10:49] apiszcz opened #352 "[QST] KalmanFilter example: NameError: name 'get_sensor_reading' is not defined"
​---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-29-fe4a712ab3cd> in <module>
      1 kf.predict()
----> 2 z = get_sensor_reading() (dim_z, 1)
      3 kf.z = cp.repeat(z[cp.newaxis, :, :], points, axis=0)
      4 kf.update()

NameError: name 'get_sensor_reading' is not defined

[2021-04-19 07:51] apiszcz opened #353 "[QST] KalmanFilter and ParticleFIlter CuPy and cuSignal application opportunities"
- Stonesoup is a python framework for state estimation and tracking using Kalman and Particle filters.
- Typically stonesoup measurements are iterated over for evaluation.
- Is there any possibility that CuPy or cuSignal projects would be interested in review of Stonesoup to provide or implement/prototype recommendations for GPU acceleration options?

The measures.py file contains the Mahalanbois

[2021-04-19 13:20] awthomp commented on #350
Hey @apiszcz, looks like you resolved your question. Do you think the notebook/docs need to be improved? Otherwise, can I close the question?

[2021-04-19 13:21] awthomp commented on #352
Hey @apiszcz -- it's been awhile since I've run through this Jupyter notebook, but we have it behind CI/CD. Can you confirm that you ran the cells in order?

[2021-04-19 13:21] awthomp commented on #351
Hey @apiszcz -- it's been awhile since I've run through this Jupyter notebook, but we have it behind CI/CD. Can you confirm that you ran the cells in order?

[2021-04-19 16:43] apiszcz commented on #352
Yes, they were run in order.

[2021-04-19 16:44] apiszcz commented on #351
Yes, in order.

[2021-04-19 16:44] apiszcz commented on #350
Yes, they should be updated to define variables that are required later.

[2021-04-19 16:45] apiszcz commented on #353
I reviewed those metrics, they are great, however I did not locate, Mahalanobis or SquaredGaussianHellinger,

[2021-04-21 22:07] #350 closed

[2021-04-21 22:07] #351 closed

[2021-04-21 22:07] #352 closed

[2021-04-23 01:23] leyojoseph opened #355 "[QST]CUDA_ERROR_NO_BINARY_FOR_GPU"
Hello,
Below lines show  gpu structure in my PC

import numba.cuda as cu

cu.detect()
Found 2 CUDA devices
id 0           b'Tesla K40c'                              [SUPPORTED]
                      compute capability: 3.5
                           pci device id: 0
                              pci bus id: 3
id 1          b'Quadro K620'                              [SUPPORTED]

[2021-04-23 03:01] znmeb opened #356 "[QST] Building on WSL??"
**What is your question?**

I'm looking at running cuSignal on a Windows machine using WSL 2 / Ubuntu 18.04. I looked at `conda/environments/cusignal_base.yml` and it calls for `cudatoolkit>=9.2,<=10.2`.

It looks like the WSL install instructions give me CUDA 11.2:

[code]

Is this going to break? I'm planning to try it with the upper constraint set to 11.2 to see what happens. If it works, do yo

[2021-04-23 13:24] awthomp commented on #356
Hey @znmeb -- Thanks for letting me know that the cusignal environment needs updated! That said, these ymls aren't used when building cusignal packaging via CI/CD.

We've actually tested and successfully installed cusignal on WSL following the instructions posted here: https://github.com/rapidsai/cusignal#source-windows-os

Basically, don't worry about conda installing the cudatoolkit but simply c

[2021-04-23 13:35] awthomp commented on #355
Hey @leyojoseph

We haven't ever tested for Kepler (only down to Maxwell) -- so I'm happy to help here. One quick question -- where do you receive your CUDA error message? After the cupy call (`cp.repeat`) or after cusignal (`cusignal.convolve`)?

We have a custom CUDA kernel used in `convolve`, so I'm assuming what's happening is that cupy works, most of cusignal works, but you're hitting an erro

[2021-04-23 13:42] mnicely commented on #355
@leyojoseph cuSignal does officially support Kepler architecture.

Per @awthomp comment you can try adding `--generate-code arch=compute_35,code=sm35` to `./build.sh`. See snippet below.

Please note that the Kepler products have been deprecated and will not be compatible with future releases of CUDA Toolkit.

[code]

[2021-04-23 14:11] leyojoseph commented on #355
Thanks for the reply.
Please note that I am running this on windows, not Linux. For some reason, our IT is not allowing to install WSL option.
I installed cusignal  withe the below command==>
# or, for CUDA 11.0
conda install -c rapidsai -c nvidia -c numba -c conda-forge \
    cusignal=0.17 python=3.8 cudatoolkit=11.0

 ****_Below lines shows where the cusignal error happens==>_****

filtered = cu

[2021-04-23 18:26] awthomp commented on #355
Unfortunately, I believe WSL is a hard requirement to build our custom CUDA kernels.

Another option is to try cuSignal in a free GPU instance offered on Google Colab: https://colab.research.google.com/drive/1rY7Ln6rEE1pOlfSHCYOVaqt8OvDO35J0#forceEdit=true&offline=true&sandboxMode=true

[2021-04-23 18:34] znmeb commented on #356
Thanks!!

[2021-04-23 18:34] #356 closed

[2021-04-23 19:58] timsainb opened #358 "ISTFT [FEA]"
ISTFT is mentioned in the documentation under STFT, but hasn't been implemented. Are there plans to add ISTFT?

Thanks,
TIm

[2021-04-23 21:32] leyojoseph commented on #355
Thanks..let me try the option you suggested.
Is there a way to select which gpu to use(If PC has more  than one GPU) in cusignal. For example, nuba.cuda has this option as shown below==>

from numba import cuda
cuda.select_device(0)

Also is it possible to see on which GPU cusignal is running?

[2021-04-23 21:44] awthomp commented on #355
You can use that or cupy's set device function. I always look at GPU usage with `watch nvidia-smi`. There are also some nice Jupyter plugins too.

https://medium.com/rapids-ai/gpu-dashboards-in-jupyter-lab-757b17aae1d5

[2021-04-23 23:49] awthomp commented on #358
Hi @timsainb -- thanks for the hat tip. We missed porting ISTFT to GPU and will prioritize it for future releases. Do you have a general test case you'd like to cover here?

We also welcome your help if you'd like to help code it up!

[2021-04-23 23:55] timsainb commented on #358
Thanks @awthomp! No real test case at the moment, I was considering adding this as a backend to speed up my noisereduce package + some other tools I've been working on.

[2021-04-24 22:22] leyojoseph commented on #355
Hello,
An update.. I tried the code as below and is working. I am setting the gpu as device(1) which is Maxwell based Quadro K620.
import numpy as np
import cupy as cp
import cusignal as cu
import numba.cuda as cuu
**### cp.cuda.Device(1).use()**
start = 0
stop = 10
num_samps = int(1e7)
resample_up = 2
resample_down = 3

# Generate Data on CPU
cx = np.linspace(start, stop, num_samps, endpoint=Fals

[2021-04-25 12:55] mnicely commented on #355
@leyojoseph It looks like there's not SASS for CC3.5.
Please refer to https://github.com/rapidsai/cusignal/issues/355#issuecomment-825667739

[2021-04-26 13:29] leyojoseph commented on #355
Hello,
Curious to know your answer on my below question:

**In programs with Cusiganl where the GPU device is not specified as above, will it always use Device(0)?**

[2021-04-26 13:49] leofang commented on #355
I think CUDA sets device 0 (dictated by CUDA_VISIBLE_DEVICES) as the default.

[2021-05-04 13:20] awthomp commented on #355
We are closing this due to our perceived resolution and clarification of the issue. Please re-open if you have more information to add!

[2021-05-04 13:20] #355 closed

[2021-05-04 18:42] #358 closed

[2021-06-10 12:44] awthomp opened #388 "[FEA] Implement ambiguity function for phased arrays"
The [ambiguity function](https://en.wikipedia.org/wiki/Ambiguity_function) is used to determine a target's peak location with respect to doppler frequency and propagation delay and is a critical calculation for phased array systems. According to M Richards in _Fundamental of Radar Signal Processing_, "The ambiguity function (AF) succintly characterizes the behavior of a waveform paired with its ma

[2021-06-14 19:09] awthomp commented on #388
We are working on the ambiguity function here: https://github.com/rapidsai/cusignal/pull/393

[2021-06-15 01:01] #388 closed

[2021-06-15 12:11] awthomp opened #394 "[FEA] Create unit tests for ambgfun"
We strive for 100% test API coverage in cusignal, and we currently have no tests or benchmarks for the newly merged `ambgfun`.

[2021-06-16 19:16] cliffburdick opened #396 "Imaginary Part Of ambgfun Removed"
**Describe the bug**
On this line:
https://github.com/rapidsai/cusignal/blob/2df9c928420dc2efcb52f16f8ae746b47082c84e/python/cusignal/radartools/radartools.py#L220

When `y_norm_pad` is created the imaginary part of the complex signal `ynorm` is stripped.

**Expected behavior**
Imaginary part is not stripped

[2021-06-17 18:20] anujresearch opened #398 "[BUG]"
**Describe the bug**
**cupy_backends.cuda.api.runtime.CUDARuntimeError: cudaErrorCompatNotSupportedOnDevice: forward compatibility was attempted on non supported HW**

**Steps/Code to reproduce bug**
Run the _Polyphase Resampling_ snippet

**Expected behavior**
Run without errors.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Method of

[2021-06-17 19:29] anujresearch commented on #398
**Rebooting resolved this issue. Closing now.**

[2021-06-17 19:29] #398 closed

[2021-06-19 23:35] DuncanFyfe opened #399 "[BUG] firwin function argument ignored"
**Describe the bug**

The function [firwin](https://github.com/rapidsai/cusignal/blob/main/python/cusignal/filter_design/fir_filter_design.py#L140) appears to be missing a call to `_get_fs(fs, nyq)` near the top.  Because of this, when the `fs` argument is passed it ignored but the deprecated and incorrect default `nyq` value is used in the `cutoff` validations (Line 280+).

**Steps/Code to reprod

[2021-06-23 22:40] awthomp commented on #399
Thanks for letting us know, @DuncanFyfe. I've been out of pocket all week with vacation and will take a closer look tomorrow into Friday.

[2021-06-24 13:09] awthomp commented on #399
@DuncanFyfe -- I've fixed this bug with https://github.com/rapidsai/cusignal/pull/400. We'll get this merged ASAP! Thanks for the report.

[2021-06-24 13:59] #396 closed

[2021-06-24 16:26] DuncanFyfe commented on #399
Thanks, much appreciated.

[2021-06-24 20:32] #399 closed

[2021-07-07 20:00] Mayur28 commented on #7
Hi,

I'm trying to use the torchaudio lfilter and I have been trying to compare the results to those produced by Librosa - Oddly, the results are quite different. If anyone could please offer any insight into this, it would be highly appreciated.

I have used the following code to experiment:

[code]

Thanks!

[2021-07-07 20:03] awthomp commented on #7
Hi @Mayur28 --

Thanks for posting a question. We deprecated the `lfilter` in cuSignal due to performance issues with real-time streaming data. As a work around, we support [FIR filtering](https://docs.rapids.ai/api/cusignal/stable/api.html?highlight=firfilt#module-cusignal.filtering.firfilter).

That said, I don't see cusignal used in your code. Perhaps file an issue to torchaudio and cross refer

[2021-07-07 20:09] Mayur28 commented on #7
Hi @awthomp,

Apologies for the error. I will do that.

[2021-08-09 21:26] JulianaCenzi opened #410 "[QST]Error while installing cuSignal in Windows 10"
**What is your question?**
I am trying to install cuSignal in Windows 10. I've followed the instructions, but when I run ./build.sh, I get a error: '.' is not recognized as internal command....
Any thoughts?

[2021-08-09 22:57] awthomp commented on #410
Hi @JulianaCenzi -- did you follow the CUDA on WSL instructions linked [here](https://docs.nvidia.com/cuda/wsl-user-guide/index.html#abstract)? It sounds like you're not in a "Linux on Windows" shell since the `.` isn't recognized as a command.

According to section 2.4 in the docs, you launch the linux distribution via:
`$ wsl.exe --list -v command`

[2021-08-13 00:25] awthomp commented on #410
Going to close this issue, but feel free to reopen with more questions.

[2021-08-13 00:25] #410 closed

[2021-08-15 00:52] gpeyton opened #414 "[QST] Package issues with Jupyter Notebook and Jetson"
I'm using a Jetson Nano and installed CuSignal as per instruction for aarch64. Also installed dependencies afterwards (numpy, scipy, pip and cupy). I manually installed jupyter using conda.

When running an example notebook through SSH, I'm unable to import any modules, e.g.
`ModuleNotFoundError: No module named 'cupy'`

However, I am able to run python manually, import all the modules and run the

[2021-08-15 01:44] awthomp commented on #414
Hi @gpeyton, thanks for filing an issue, and I'm thrilled you're interested in cusignal.

A couple questions for you:
- It seems like you successfully compiled cusignal on the Nano from source. Is this correct? In a Python session on the Nano, you can import both cupy and cusignal?
- Are you trying to use the Nano as a Jupyter notebook server? Meaning you start your notebook on the Nano and try to

[2021-08-17 00:20] gpeyton commented on #414
Thanks so much @awthomp - I forgot to activate the environment before running jupyter. That solved it!

[2021-08-17 00:20] #414 closed

[2021-08-20 15:30] gpeyton opened #416 "[QST] firfilter performance on Jetson"
I'm running benchmarking tests on a Jetson Nano 4GB board, and am testing a number of filter algorithms. The performance of each (for N number of taps) is shown below.

<img width="500" alt="Screen Shot 2021-08-19 at 10 49 42 AM" src="https://user-images.githubusercontent.com/1481988/130254981-0edc2cbf-fd6d-41d1-9afc-9298d8b9ba62.png">

firfilter is tested as follows:
[code]

In contrast, running

[2021-09-09 15:59] eldaromer opened #419 "[BUG]"
**Describe the bug**
Cross correlation function removes imaginary part

**Steps/Code to reproduce bug**
Simply try and correlate two complex vectors, you get this warning: ComplexWarning: Casting complex values to real discards the imaginary part
  return np.asarray(x, float)

**Expected behavior**
Cross correlating two complex vectors should take the complex conjugate of one, and work without str

[2021-09-09 16:43] #419 closed

[2021-09-09 16:51] awthomp commented on #419
Hi, @eldaromer. I noticed you closed the bug report. Are you seeing the correct behavior now?

[2021-09-09 16:51] eldaromer commented on #419
Yes, it was a user error, sorry about that

[2021-09-09 16:58] awthomp commented on #419
No worries! Thanks for using cusignal :).

[2021-09-10 16:33] awthomp opened #420 "[FEA] Add Multiple Signal Classification (MUSIC) support to radartools"
MUSIC is a commonly used algorithm for direction finding and frequency estimation.

Monson Hayes in _Statistical Signal Processing and Modeling _ provides the following MATLAB algorithm for MUSIC:

[code]

[2021-09-13 10:38] yuvalg1987 opened #421 "[BUG] Jetson Nano Installation"
Hi,

I'm trying to install cusignal on the Jetson Nano (cuda version is 10.2) but the CuPy installation fails (after roughly an hour of compilation). I followed the instructions on the main page (including setting the `CUPY_NVCC_GENERATE_CODE` environment variable) but not luck.

It's a bit hard to pin-point the exact issue so the compilation output is attached. I see some errors during the compil

[2021-09-13 12:21] awthomp commented on #421
Hi @yuvalg1987 -- We'll take a look. One quick question before I start digging in -- what version of JetPack are you running on your Jetson?

You can typically find this info via: `cat /etc/nv_tegra_release`

[2021-09-13 12:31] yuvalg1987 commented on #421
Thanks for the quick response! I'm using the latest Jetpack available for the Nano (version 4.6 with Cuda 10.2)

[2021-09-13 13:22] awthomp commented on #421
Great! Thanks! I'll try to reproduce your issue on my nano over the next couple of days. Thanks for the bug submission, and for using cusignal!

[2021-09-13 13:28] yuvalg1987 commented on #421
Thanks! I will continue and try and build this too (it takes forever ..), currently I'm trying to build it from source as well as using pip. One thing I noticed is that once it fails during the compilation it "restarts" again (or at least it seems like it from the verbose). I can see some configuration stuff running on the screen ... Any idea what is happening?

In addition, I'm not sure how to ma

[2021-09-13 13:34] awthomp commented on #421
Hmmm... nccl shouldn't be built, as that's a multi-GPU library.

Let's start over and try again.

1. Deactivate current conda environment
[code]

2. Remove conda environment and clean up files
[code]

3. Create new conda environment and activate it
[code]

4. Download dependencies available via conda
[code]

5. Pip install CuPy, and let the dependency solver find which version
[code]

6. Go to clo

[2021-09-13 14:03] yuvalg1987 commented on #421
As far as I see CUDA is already installed as part of the Jetpack and I verified it using the `nvcc -V` command, In addition, <conda install cudatoolkit>  doesn't work as there is no compatible version in the available channels. I found an old post written by you [https://github.com/rapidsai/cusignal/issues/8] saying that's OK and I can move forward with my current version so I will.

The selected

[2021-09-14 06:01] yuvalg1987 commented on #421
I managed to compile it on a fresh image of the Jetson Nano so I assume that I might have done something wrong in the process. Thanks for all the help!

[2021-09-14 13:04] awthomp commented on #421
Great! Happy to hear you're up and running, @yuvalg1987. Sometimes, a fresh install and a conda clean does the trick :). I'm going to close this issue, but feel free to re-open it if you hit another roadblock.

[2021-09-14 13:04] #421 closed

[2021-09-27 06:20] ChristophWiesmeyr opened #422 "Documentation of FIR filters incomplete"
For FIR filters the function signature seems to be missing in the documentation.

[2021-09-27 20:12] znmeb opened #423 "[FEA]"
**Is your feature request related to a problem? Please describe.**
The end-to-end example notebook uses PyTorch but PyTorch isn't present in the conda enviroment when building on a Jetson.

**Describe the solution you'd like**
Can you make fetching and installing the PyTorch wheel an option in the Jetson build script? I've got a script that does this, but it would be nice if it was integrated into

[2021-09-28 23:42] awthomp commented on #423
Good idea, @znmeb! I'll get this actioned in the next couple of days.

[2021-09-28 23:44] awthomp commented on #422
Hey @ChristophWiesmeyr -- thanks for opening an issue and using cusignal. Could you please provide more information? What's missing? Are you talking about the online docs or the code? What function signatures are missing and where? Thanks for the help!

[2021-09-29 06:51] ChristophWiesmeyr commented on #422
Hi, thanks for the response and sorry for the incomplete issue. I was referring to the docs, there I see all the parameters that go into the function but not the function itself:

![grafik](https://user-images.githubusercontent.com/8068536/135216999-15ac9594-f854-43c8-822e-62b203b8d613.png)

For other functions the function signature is there including all the defaults, see e.g.:

![grafik](https:

[2021-09-29 13:47] awthomp commented on #422
Ok great! Yes, it does. Thanks for the heads up.

[2021-10-04 22:47] shevateng0 opened #424 "[QST] The example of continous wavelet transformation (CWT) does not work on my laptop"
I would like to try the example of CWT with ricker wavelet, but some error is reported. The code is listed below which is exactly the same as in https://docs.rapids.ai/api/cusignal/stable/api.html#wavelets.
[code]
The reported error is listed below.
[code]
Since no error appeared when I tried the example of spectrogram, I believe the installation of cuda, cupy and cusignal is successful. Please ki

[2021-10-05 12:14] awthomp commented on #424
Hi @shevateng0 -- I've confirmed this is a valid bug (I get the same error on my local machine), and we'll prioritize getting it fixed! Thanks for using cusignal and submitting the issue.

[2021-10-06 13:17] #422 closed

[2021-10-18 10:38] Nicholas-7 opened #431 "[WIP] 21.10 Notebook Testing Report"
**Describe the bug**
Discovered errors in a few notebooks relating to the cuSignal library after running them in the 21.10 stable release. The errors were tested and found in both CentOS and Ubuntu operating systems. Not sure if these errors are a result of possible updates to the codebase or if it was an uncaught bug.

**Steps/Code to reproduce bug**
Steps to reproduce the behavior:
1.Go to [RAPI

[2021-10-18 12:49] Bruyant opened #434 "[BUG] OutOfMemoryError in spectrogram"
I get a memory error if the number of samples > 110M in spectrogramm

**Steps/Code to reproduce bug**

[code]

**I get an error dependending on the signal length**

`OutOfMemoryError: Out of memory allocating 1,280,016,384 bytes (allocated so far: 5,068,731,392 bytes).`

**Expected behavior**
I would expect the spectrogramm function or _fft_helper to cut the datas in chunk if it do not fit the Mem

[2021-10-18 12:58] awthomp commented on #434
Hey @Bruyant. Thanks for using cuSignal!

It looks like you're allocating more data on the GPU than you have physical space for. You mentioned that smaller sample sizes work as expected.

or a keword for chunking.

Unfortunately, this is not how cuSignal works, particularly if you're allocating memory directly on GPU with `cupy.ones` or `cupy.random.randn` or whatever. CUDA Managed Memory allows f

[2021-10-18 16:39] Bruyant commented on #434
Thanks for your answer,
I just whant to compute a spectrogram of a long acquisition, comming from a disk file.
I'm naively thinking about 2 solutions:
- Monkey patch  _fft_helper to feed result = func(result, n=nfft) with chunks
- Launch repeatedly spectrogram with care of overlapping from a cpu side numpy array.

[2021-10-29 19:06] beckernick opened #435 "[DOC] Update cuSignal documentation to use PyData Sphinx theme"
As summarized by @isVoid in https://github.com/rapidsai/cudf/issues/7098 , Python API documentation for RAPIDS projects has historically used the Sphinx Read The Docs theme and served a single large HTML page. This has caused the docs to load slowly as API surfaces have grown and caused users to experience potentially significant latency/delays when searching for functions.

In https://github.com/

[2021-11-02 01:02] cmpadden commented on #435
Howdy!

I've followed @galipremsagar's lead in https://github.com/rapidsai/cudf/pull/8746, and have made the required changes to use the PyData Sphinx Theme, and am currently in the process of testing/tweaking things. I will submit a pull request once I've got things situated.

In the meantime, you can find a demo of the updated docs deployed here:

https://pensive-bhabha-9ea320.netlify.app/

Let

[2021-11-02 12:00] awthomp commented on #435
Thanks Colton!! Looking forward to seeing the PR :).

[2021-11-03 17:20] cmpadden commented on #423
Hey @awthomp, I spent some time scouring the _cuda_ documentation, and couldn't find anything cut-and-dry on how optional dependencies would be specified in a single environment. Would the advised solution be to create a `cusignal_jetson_full.yml` file similar to `cusignal_full.yml` with the additional dependencies like _pytorch_?

As an aside, would this be a good place to specify dependencies li

[2021-11-03 18:44] znmeb commented on #423
@cmpadden I like this approach. However, IIRC the PyTorch binary is in a `pip` or `conda` repo on `x86_64` but is in an NVIDIA-specific repo for the Jetsons. I'm not doing software-defined radio so I have no idea about the others.

[2021-11-04 01:10] cmpadden commented on #423
I see, thanks for the clarification.

I may have to defer to someone with more experience using NVIDIA-specific dependencies, as I'm not sure if there's an easy way to incorporate the pre-built PyTorch wheel file for the Jetson platform found [here](https://forums.developer.nvidia.com/t/pytorch-for-jetson-version-1-10-now-available/72048) into our conda environment.

Our options might be to either

[2021-11-04 01:21] znmeb commented on #423
@cmpadden NVIDIA do have repositories on `conda-forge`, I think. The build process is straightforward, although the `conda-forge` folks do have a set of names for things drawn from blacksmiths. :-) One does, of course, need a Jetson (AGX Xavier preferably) to do the actual builds. To get a true CI/CD workflow requires a significant effort.

[2021-11-04 11:47] awthomp commented on #423
@cmpadden and @znmeb I'm still trying to figure out the Jetson vs x86 packaging, particularly with CuPy. One of the complications is the CUDA toolkit and the flavors of each of our dependencies and their CUDA versions w/ pre-built wheels. I'll spend more time on this over the upcoming weeks, but it's most likely going to be a change on our CI/CD side, AFAIK.

[2021-11-04 12:38] cmpadden commented on #423
@awthomp Gotcha! Thanks for the insight.

[2021-11-04 17:22] znmeb commented on #423
@awthomp I do know that the NGC Jetson ML Docker image has CuPy on it and NVIDIA build it from source using `pip`, so there's probably no pre-built wheel to use.

[2021-12-02 19:33] taureandyernv commented on #431
@awthomp may i propose a possible resolution?

1. i'll add `conda install -y -c conda-forge soapysdr rtl-sdr` to the affected notebooks and PR it.
2. As for the sigm file, is that something we can make available via an S3 bucket?  if so, i'll ask ops to add it and link to it, once I get your go-ahead.

That should close this up nicely without interfering too much.  the issue we're trying to fix is

[2022-01-12 02:19] guillaumedavidphd commented on #416
This issue still needs to be investigated.

[2022-02-08 18:26] OverLordGoldDragon opened #456 "[FEA] `decimate`: cache filter / allow input"
Filter sampling takes by far the most time. Caching the filter or allowing the user to pass it would tremendously speed up recomputation with identical parameters.

[2022-02-09 13:58] awthomp commented on #456
Okay! More info, @OverLordGoldDragon.

You can pass in your filter via the `n` parameter in `cusignal.decimate`. We correctly handle this input as either being the order of the filter or an array of arbitrary filter coefficients.

For example, expanding on the current code:
[code]

I'm going to close this issue, but please let me know if this isn't what you're looking for. Happy to reopen it!

[2022-02-09 13:58] #456 closed

[2022-02-14 17:14] sosae0 opened #457 "[DOC] A list of minor errors in the example codes"
## Report incorrect documentation

**Location of incorrect documentation**
They are listed below with each link as well

**ISSUE 1.** Convolution of a 2nd order filter on a 1d signal: https://github.com/rapidsai/cusignal/blob/c620d8283fb7906d241d4c1bbc1940025d86e030/python/cusignal/convolution/convolve.py#L597
[code]

**Describe the problems or issues found in the documentation**
The above code ou

[2022-02-14 19:35] awthomp commented on #457
Great, @sosae0! The easiest way to contribute is to:

1. Fork the cusignal repo. You can do this via the "Fork" button on the main cusignal page.
2. Create a feature branch in your own fork via `git checkout -b <branch_name>`
3. Edit applicable code to fix the incorrect documentation
4. Commit changes and push to your own branch, e.g. `git commit -m "fixing docs"` then `git push origin <branch_nam

[2022-02-14 19:38] sosae0 commented on #457
Sounds great @awthomp. Will get on it when I get a chance. Thanks for the additional info.

[2022-02-15 02:30] sosae0 commented on #457
Hi @awthomp, I just created the pull request for this issue.

[2022-02-15 02:44] awthomp commented on #457
ok to test

[2022-02-15 02:44] awthomp commented on #457
Thanks, @sosae0 -- I'll take a look and get it merged tomorrow!

[2022-02-15 15:11] #457 closed

[2022-03-02 16:51] caryr35 opened #460 "[DOC] RAPIDS Release Blog Outline"
Provide bullet point list of major user facing changes to Sophie Watson by the end of `**burn down** `

[2022-03-10 18:17] awthomp opened #462 "[FEA] Add PyTest for correlation_lags"
Need to add correctness checks for newly merged FEA PR: https://github.com/rapidsai/cusignal/pull/459

[2022-03-11 21:38] carabedo commented on #140
Hi i tried to install cusignal on win10 using conda, i followed:

https://github.com/rapidsai/cusignal#conda-linux-os

It install succesully, but when i try to import cusignal:

`ModuleNotFoundError: No module named 'cusignal'
`

What can i do?

[2022-03-14 13:33] awthomp commented on #140
Did you see any errors when running build.sh? Could you paste the output here?

[2022-03-16 16:12] awthomp commented on #140
Please follow the Windows build instructions here, instead. https://github.com/rapidsai/cusignal#source-windows-os

Let us know if this doesn’t work.

[2022-03-23 05:05] gaosiy opened #464 "[BUG]Jetson nano installation issue"
**Describe the bug**
When I install cusignal on jetson nano, I was stuck at :
`conda env create -f conda/environments/cusignal_jetson_base.yml`
It cost one night and let jetson nano dead.
![image](https://user-images.githubusercontent.com/16640004/159627374-447bf1ad-f765-4fb4-b696-eb1fa1781116.png)

I search the Issues and find the same question
[BUG] Jetson Nano Installation #421
At that topic, t

[2022-03-23 08:04] gaosiy commented on #421
Hi, can you tell the image version you used to install cusignal? Thanks a lot.

[2022-03-23 17:06] awthomp commented on #464
Hey @gaosiy --thanks for the bug report, and sorry you're having problems building cusignal! How long has the `pip install cupy` hung for during install? It takes about ~30 minutes, IIRC. Also, can you confirm you're running on the lastest version of JetPack?

[2022-03-24 02:55] gaosiy commented on #464
Thanks awthomp, I use two jetpack versions, 32.7.1 and 32.6.1, I get the same problem. Now I use the 32.6.1 version. When I install cupy, the longest time I use is more than 12 hours. During the conda create step, I found jetson nano system warning about memory, I think maybe the memory problem cause the stuck, so last night I try to install it again without any other app running, it seems no prob

[2022-03-24 03:36] awthomp commented on #464
Try installing cupy with `pip install cupy-cuda102`

The cupy folks have recently built wheels for 10.2 (to support Jetson). This should avoid you having to build cupy from source.

Let me know if this works.

[2022-03-24 03:45] gaosiy commented on #464
Hi awthomp, after 90 minutes waiting, the stuck has gone, I found the command
`conda env update -f conda/environments/cusignal_jetson_base.yml`
rebuild the cupy and now I use
`pytest -v `
it seems to work well and now the script is testing all operations of cusignal.
Thanks for your help!

[2022-03-24 03:48] gaosiy commented on #464
![7a6b6b858050c46b1c7469d3bf0a724](https://user-images.githubusercontent.com/16640004/159838137-9ea73198-5c81-462a-ab51-dfb90a0e4804.jpg)

[2022-03-24 03:50] awthomp commented on #464
Great news!! Some of the tests with cusignal will fail, as the default tests allocate arrays buffer than the Nano’s memory size, but you should be good to go. I’ll close this issue, but feel free to open it back up I’d you have more problems.

[2022-03-24 03:50] #464 closed

[2022-03-29 20:01] mnicely commented on #460
Adding bullets for 22.04 Blog
* Now able to calculate the lag / displacement indices array for 1D cross-correlation (See `correlation_lags`)

[2022-03-30 21:25] EdwardZhao1991 opened #467 "[FEA] support distance_transform_edt in scipy"
**Is your feature request related to a problem? Please describe.**

Would it be possible to support distance transform?

**Describe the solution you'd like**

Just like the one in scipy

https://docs.scipy.org/doc/scipy/reference/generated/scipy.ndimage.distance_transform_edt.html

[2022-03-31 00:30] awthomp commented on #467
Hey @EdwardZhao1991 -- Thanks for the issue and for using cuSignal.

This might actually be a better feature for [cuCIM](https://github.com/rapidsai/cucim), which focuses on image processing via ndarrays and GPU accelerates much of `scipy.ndimage`.

CC @quasiben for his thoughts on where this feature request would be best.

Thanks!

[2022-03-31 00:36] grlee77 commented on #467
We have discussed it in the past for cuCIM and I hope to work on it in the near future. I think it should live in CuPy under cupyx.scipy.ndimage.

[2022-04-01 13:14] charlesbluca opened #469 "[DOC] Environment setup fails to properly initialize in rtlsdr_offline_demod_to_transcript.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai/cusignal/blob/branch-22.06/notebooks/sdr/rtlsdr_offline_demod_to_transcript.ipynb

**Describe the problems or issues found in the documentation**
On Docker `devel` images, after running through the environment setup block I still get a ModuleNotFoundError when attempting to import `simplesoapy`

[2022-04-01 13:45] charlesbluca opened #470 "[DOC] ModuleNotFoundErrors on initial imports in sdr_wfm_demod.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai/cusignal/blob/branch-22.06/notebooks/sdr/sdr_wfm_demod.ipynb

**Describe the problems or issues found in the documentation**
On Docker `devel` images, I get ModuleNotFoundErrors when trying to import SoapySDR and pyaudio, requiring me to install them manually before running the notebook.

**Ste

[2022-04-01 14:08] charlesbluca opened #471 "[DOC] FutureWarning on `resample` in filtering_examples.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai/cusignal/blob/branch-22.06/notebooks/api_guide/filtering_examples.ipynb

**Describe the problems or issues found in the documentation**
In cell 9 of the notebook, when running

[code]

I get a FutureWarning for the input type:

[code]

**Steps taken to verify documentation is incorrect**
- Pull

[2022-04-04 13:22] charlesbluca opened #472 "[DOC] Incorrect dataset specified in io_examples.ipynb"
## Report incorrect documentation

**Location of incorrect documentation**
- https://github.com/rapidsai/cusignal/blob/branch-22.06/notebooks/api_guide/io_examples.ipynb

**Describe the problems or issues found in the documentation**
The notebook describes using the second [ORACLE RF Fingerprinting Dataset](https://genesys-lab.org/oracle) (`KRI-16IQImbalances-DemodulatedData`) while the code refer

[2022-04-04 18:00] awthomp commented on #467
Going to close this issue as we feel this feature would be best implemented in a separate library.

[2022-04-04 18:00] #467 closed

[2022-04-05 16:01] charlesbluca opened #474 "[BUG] ValueError when reading SigMF with pinned buffer in io_examples.ipynb"
**Describe the bug**
In [io_examples.ipynb](https://github.com/rapidsai/cusignal/blob/branch-22.06/notebooks/api_guide/io_examples.ipynb), I am unable to read the example SigMF data file using a pinned buffer, getting a ValueError.

**Steps/Code to reproduce bug**
- Pull latest RAPIDS 22.04 containers
- Run all cells of io_examples.ipynb
- Get the following ValueError on cell 9:

[code]

A condens

[2022-04-12 18:40] caryr35 commented on #460
blog updates added, closing issue

[2022-04-12 18:40] #460 closed

[2022-04-20 12:11] #469 closed

[2022-04-20 12:11] #470 closed

[2022-04-20 12:12] #474 closed

[2022-05-17 19:10] caryr35 opened #481 "[DOC] RAPIDS 22.06 Release Blog Outline"
Provide bullet point list of major user facing changes to Sophie Watson by the end of `**burn down**
`

[2022-06-15 15:14] mbolding3 opened #491 "[FEA] pytorch polyphase resampler"
Opening this issue to facilitate discussion. A Pytorch compatible wrapper around cusignal's polyphase resampler is [here](https://github.com/mbolding3/cusignal-polyphase/tree/branch-22.08/python/cusignal/pytorch) (WIP).

@awthomp Where is a good place to put the source? Currently putting it in branch 22.08 in a new sub-directory `python/cusignal/pytorch` but curious if a place already exists.

Als

[2022-06-16 13:57] awthomp commented on #491
Hey @mbolding3 -- love this work, and I'm excited to dive into your Pytorch compatible polyphase resampler over the next few days. Once reviewed, I'm thinking we add a new `differentiable` folder/module to the cusignal project. This way, to the user, you'd run something like:

`cusignal.diff.polyphase_resample`

I'd also not want to expose the `diff.polyphase_resample` to the core module, so `cusi

[2022-06-16 14:02] mbolding3 commented on #491
Thanks for the comments @awthomp ! I'll be trying to wrap up the unit tests and integration in the coming week. Will be in touch.

[2022-06-23 18:02] jfsantos commented on #491
@awthomp I'll have a look! Thanks a lot @mbolding3 for working on this.

[2022-06-23 18:39] mbolding3 commented on #491
@jfsantos my pleasure! Currently writing a handful of unit tests. Will drop a line when the fork has something worth seeing. (Soon!)

[2022-06-27 20:43] mbolding3 commented on #491
Alright sorry for the delay. The code is in a state where it passes some minimal tests and is worth looking at @jfsantos

[2022-07-18 15:24] caryr35 opened #493 "[DOC] RAPIDS 22.08 Release Blog Outline"
Please provide bullet point list of major user facing changes to Sophie Watson by the end of **burn down**

[2022-07-27 21:59] awthomp commented on #491
Removing inactive tag; been a wild summer, and still need to prioritize testing this PR prior to merge! Thanks for the patience, @mbolding3!

[2022-08-22 14:15] #493 closed

[2022-08-25 17:22] jfsantos commented on #491
I'm really sorry it has taken so long, but just a heads up I'll be testing this sometime next week. My application requires the backward pass to be fast but I can at least see if it works for now.

[2022-08-29 00:03] sn1572 commented on #491
Thank you @jfsantos. I want the code to be performant. We'll make sure it works right first, then inject the nitrous later.

[2022-09-20 20:53] caryr35 opened #506 "[DOC] RAPIDS 22.10 Release Blog Outline"
Please provide bullet point list of major user facing changes to Sophie Watson by the end of **burn down**

[2022-10-13 09:36] NiclasEsser1 opened #509 "[FEA] Support for C++ API"
Hi, the cuSignal library looks nice, and I would like to use it. However, I would appreciate it if the functionalities of cuSignal were also available in a C++ environment. I understand that cuSignal intends to bring scipy-functions to the GPU, but I see great potential to make the developed CUDA code available through a C++ API. Are there already efforts to create a C++-based library?

If not, I

[2022-10-14 13:33] beckernick commented on #509
Developing and maintaining a full C++ API for cuSignal would likely be a large effort and careful consideration. I'd recommend looking at our C++ header only library [MatX](https://github.com/nvidia/matx). [This functionality](https://nvidia.github.io/MatX/api/transformations.html) may be particularly relevant (I hope).

If a feature is in cuSignal but not MatX, please let us know by filing an iss

[2022-10-14 15:45] NiclasEsser1 commented on #509
Thanks a lot! This is what I'm looking for.

[2022-10-14 15:45] #509 closed

[2022-10-18 19:17] #506 closed

[2022-10-31 08:18] DawitSel commented on #420
This repository implemented MUSIC and other array signal processing libraries https://github.com/petotamas/pyArgus.
The library is tested with real world!

[2022-11-03 14:47] caryr35 opened #513 "[DOC] RAPIDS 22.12 Release Blog Outline"
Please provide bullet point list of major user facing changes to Sophie Watson by the end of **burn down**

[2022-11-21 20:38] #472 closed